openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Detokenize API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Detokenize
paths:
  /detokenize:
    post:
      operationId: detokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detokenize'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detokenizeOutput'
          description: detokenizeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Detokenize
      x-codegen-request-body-name: body
      summary: Detokenize
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    detokenize:
      description: detokenize is a command that decrypts text with a tokenizer
      properties:
        ciphertext:
          description: Data to be decrypted
          type: string
          x-go-name: Ciphertext
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        tokenizer-name:
          description: The name of the tokenizer to use in the decryption process
          type: string
          x-go-name: TokenizerName
        tweak:
          description: Base64 encoded tweak for vaultless encryption
          type: string
          x-go-name: Tweak
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - ciphertext
      - tokenizer-name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    detokenizeOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
