openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Delete Item API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Delete Item
paths:
  /delete-item:
    post:
      operationId: deleteItem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteItem'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteItemOutput'
          description: deleteItemResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Delete Item
      x-codegen-request-body-name: body
      summary: Delete item
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    DeleteItemOutput:
      example:
        version_deleted: 6
        item_id: 0
        deletion_date: 2000-01-23 04:56:07+00:00
        item_name: item_name
      properties:
        deletion_date:
          format: date-time
          type: string
          x-go-name: DeletionDate
        item_id:
          format: int64
          type: integer
          x-go-name: ItemID
        item_name:
          type: string
          x-go-name: ItemName
        version_deleted:
          format: int32
          type: integer
          x-go-name: VersionDeleted
      title: DeleteItemOutput defines output of DeleteItem operation.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    deleteItem:
      properties:
        accessibility:
          default: regular
          description: for personal password manager
          type: string
          x-go-name: ItemAccessibilityString
        delete-immediately:
          default: false
          description: When delete-in-days=-1, must be set
          type: boolean
          x-go-name: DeleteImmediately
        delete-in-days:
          default: 7
          description: 'The number of days to wait before deleting the item (relevant for keys

            only)'
          format: int64
          type: integer
          x-go-name: DeleteInDays
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Item name
          type: string
          x-go-name: ItemName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          default: -1
          description: 'The specific version you want to delete - 0=last version, -1=entire item

            with all versions (default)'
          format: int32
          type: integer
          x-go-name: Version
      required:
      - name
      title: deleteItem is a command that deletes an item from Akeyless.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
