openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Get Tags API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Get Tags
paths:
  /get-tags:
    post:
      operationId: getTags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getTags'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: getTagsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Get Tags
      x-codegen-request-body-name: body
      summary: Get tags
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    getTags:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Item name
          type: string
          x-go-name: ItemName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: getTags is a command that returns the items tags.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
