openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create K8s Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create K8s Target
paths:
  /create-k8s-target:
    post:
      operationId: createNativeK8STarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNativeK8STarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createNativeK8STargetOutput'
          description: createNativeK8STargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create K8s Target
      x-codegen-request-body-name: body
      summary: Create native K8 STarget
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createNativeK8STargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createNativeK8STarget:
      properties:
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        k8s-cluster-ca-cert:
          description: K8S cluster CA certificate
          type: string
          x-go-name: ClusterCACert
        k8s-cluster-endpoint:
          description: K8S cluster URL endpoint
          type: string
          x-go-name: ClusterEndpoint
        k8s-cluster-token:
          description: K8S cluster Bearer token
          type: string
          x-go-name: ClusterBearerToken
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - k8s-cluster-ca-cert
      - k8s-cluster-endpoint
      - k8s-cluster-token
      - name
      title: createNativeK8STarget is a command that creates a new target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
