openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Target Details API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Target Details
paths:
  /update-target-details:
    post:
      operationId: updateTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTargetDetails'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Target Details
      x-codegen-request-body-name: body
      summary: Update target details
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateTargetOutput:
      example:
        updated: true
      properties:
        updated:
          type: boolean
          x-go-name: Updated
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateTargetDetails:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
      title: updateTargetDetails is a command that updates an existing target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
