openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Dfc Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Dfc Key
paths:
  /create-dfc-key:
    post:
      operationId: createDFCKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDFCKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDFCKeyOutput'
          description: createDFCKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Dfc Key
      x-codegen-request-body-name: body
      summary: Create DFC key
      x-summary-source: derived
components:
  schemas:
    createDFCKeyOutput:
      example:
        fragment_results:
        - null
        - null
      properties:
        fragment_results:
          items:
            $ref: '#/components/schemas/Duration'
          type: array
          x-go-name: FragmentResults
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createDFCKey:
      properties:
        alg:
          description: 'DFCKey type; options: [AES128GCM, AES256GCM, AES128SIV, AES256SIV, AES128CBC, AES256CBC, RSA1024,

            RSA2048, RSA3072, RSA4096]'
          type: string
          x-go-name: Alg
        customer-frg-id:
          description: The customer fragment ID that will be used to create the DFC key (if empty, the key will be created independently of a customer fragment)
          type: string
          x-go-name: CustomerFragmentID
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: DFCKey name
          type: string
          x-go-name: DFCKeyName
        split-level:
          default: 3
          description: 'The number of fragments that the item will be split into (not includes

            customer fragment)'
          format: int64
          type: integer
          x-go-name: SplitLevel
        tag:
          description: List of the tags attached to this DFC key
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - alg
      - name
      title: createDFCKey is a command that creates a new DFC key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    Duration:
      description: 'A Duration represents the elapsed time between two instants

        as an int64 nanosecond count. The representation limits the

        largest representable duration to approximately 290 years.'
      format: int64
      type: integer
      x-go-package: time
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
