openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Update Migration API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Update Migration
paths:
  /gateway-update-migration:
    post:
      operationId: gatewayUpdateMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayUpdateMigration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayMigrationUpdateOutput'
          description: gatewayMigrationUpdateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Update Migration
      x-codegen-request-body-name: body
      summary: Gateway update migration
      x-summary-source: derived
components:
  schemas:
    gatewayUpdateMigration:
      description: gatewayUpdateMigration is a command that update migration
      properties:
        1password-email:
          description: 1Password user email to connect to the API
          type: string
          x-go-name: OpEmail
        1password-password:
          description: 1Password user password to connect to the API
          type: string
          x-go-name: OpPassword
        1password-secret-key:
          description: 1Password user secret key to connect to the API
          type: string
          x-go-name: OpSecretKey
        1password-url:
          description: 1Password api container url
          type: string
          x-go-name: OpUrl
        1password-vaults:
          description: 1Password list of vault to get the items from
          items:
            type: string
          type: array
          x-go-name: Vaults
        ad_auto_rotate:
          description: 'Enable/Disable automatic/recurrent rotation for migrated secrets. Default is false: only manual rotation is allowed for migrated secrets. If set to true, this command should be combined with --ad-rotation-interval and --ad-rotation-hour parameters (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdAutoRotate
        ad_computer_base_dn:
          description: 'Distinguished Name of Computer objects (servers) to search in Active Directory e.g.: CN=Computers,DC=example,DC=com (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdComputerBaseDN
        ad_discover_local_users:
          description: 'Enable/Disable discovery of local users from each domain server and migrate them as SSH Rotated Secrets. Default is false: only domain users will be migrated. Discovery of local users might require further installation of SSH on the servers, based on the supplied computer base DN. This will be implemented automatically as part of the migration process (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdDiscoverLocalUsers
        ad_domain_name:
          description: Active Directory Domain Name (Relevant only for Active Directory migration)
          type: string
          x-go-name: AdDomainName
        ad_domain_users_path_template:
          description: 'Path location template for migrating domain users as Rotated Secrets e.g.: .../DomainUsers/{{USERNAME}} (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdDomainUsersPathTemplate
        ad_local_users_ignore:
          description: Comma-separated list of Local Users which should not be migrated (Relevant only for Active Directory migration)
          type: string
          x-go-name: AdLocalUsersIgnore
        ad_local_users_path_template:
          description: 'Path location template for migrating domain users as Rotated Secrets e.g.: .../LocalUsers/{{COMPUTER_NAME}}/{{USERNAME}} (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdLocalUsersPathTemplate
        ad_rotation_hour:
          description: The hour of the scheduled rotation in UTC (Relevant only for Active Directory migration)
          format: int32
          type: integer
          x-go-name: AdRotationHour
        ad_rotation_interval:
          description: The number of days to wait between every automatic rotation [1-365] (Relevant only for Active Directory migration)
          format: int32
          type: integer
          x-go-name: AdRotationInterval
        ad_sra_enable_rdp:
          description: 'Enable/Disable RDP Secure Remote Access for the migrated local users rotated secrets. Default is false: rotated secrets will not be created with SRA (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdSRAEnableRDP
        ad_target_name:
          description: Active Directory LDAP Target Name. Server type should be Active Directory (Relevant only for Active Directory migration)
          type: string
          x-go-name: AdTargetName
        ad_targets_path_template:
          description: 'Path location template for migrating domain servers as SSH Targets e.g.: .../Servers/{{COMPUTER_NAME}} (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdTargetsPathTemplate
        ad_user_base_dn:
          description: 'Distinguished Name of User objects to search in Active Directory, e.g.: CN=Users,DC=example,DC=com (Relevant only for Active Directory migration)'
          type: string
          x-go-name: AdUserBaseDN
        ad_user_groups:
          description: Comma-separated list of domain groups from which privileged domain users will be migrated (Relevant only for Active Directory migration)
          type: string
          x-go-name: AdUserGroups
        as_ssh_port:
          description: Set the SSH Port for further connection to the domain servers. Default is port 22 (Relevant only for Active Directory migration)
          type: string
          x-go-name: AdSshPort
        aws-key:
          description: AWS Secret Access Key (relevant only for AWS migration)
          type: string
          x-go-name: AwsSecret
        aws-key-id:
          description: AWS Access Key ID with sufficient permissions to get all secrets, e.g. 'arn:aws:secretsmanager:[Region]:[AccountId]:secret:[/path/to/secrets/*]' (relevant only for AWS migration)
          type: string
          x-go-name: AwsKey
        aws-region:
          description: AWS region of the required Secrets Manager (relevant only for AWS migration)
          type: string
          x-go-name: AwsRegion
        azure-client-id:
          description: Azure Key Vault Access client ID, should be Azure AD App with a service principal (relevant only for Azure Key Vault migration)
          type: string
          x-go-name: AzureClient
        azure-kv-name:
          description: Azure Key Vault Name (relevant only for Azure Key Vault migration)
          type: string
          x-go-name: AzureName
        azure-secret:
          description: Azure Key Vault secret (relevant only for Azure Key Vault migration)
          type: string
          x-go-name: AzureSecret
        azure-tenant-id:
          description: Azure Key Vault Access tenant ID (relevant only for Azure Key Vault migration)
          type: string
          x-go-name: AzureTenant
        gcp-key:
          description: Base64-encoded GCP Service Account private key text with sufficient permissions to Secrets Manager, Minimum required permission is Secret Manager Secret Accessor, e.g. 'roles/secretmanager.secretAccessor' (relevant only for GCP migration)
          type: string
          x-go-name: ServiceAccountKey
        hashi-json:
          description: Import secret key as json value or independent secrets (relevant only for HasiCorp Vault migration)
          type: string
          x-go-name: HashiImportAsJson
        hashi-ns:
          description: HashiCorp Vault Namespaces is a comma-separated list of namespaces which need to be imported into Akeyless Vault. For every provided namespace, all its child namespaces are imported as well, e.g. nmsp/subnmsp1/subnmsp2,nmsp/anothernmsp. By default, import all namespaces (relevant only for HasiCorp Vault migration)
          items:
            type: string
          type: array
          x-go-name: HashiNamespaces
        hashi-token:
          description: HashiCorp Vault access token with sufficient permissions to preform list & read operations on secrets objects (relevant only for HasiCorp Vault migration)
          type: string
          x-go-name: HashiToken
        hashi-url:
          description: HashiCorp Vault API URL, e.g. https://vault-mgr01:8200 (relevant only for HasiCorp Vault migration)
          type: string
          x-go-name: HashiUrl
        id:
          description: Migration ID (Can be retrieved with gateway-list-migration command)
          type: string
          x-go-name: MigrationID
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        k8s-ca-certificate:
          description: 'For Certificate Authentication method

            K8s Cluster CA certificate (relevant only for K8s migration with Certificate Authentication method)'
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: K8SCA
        k8s-client-certificate:
          description: K8s Client certificate with sufficient permission to list and get secrets in the namespace(s) you selected (relevant only for K8s migration with Certificate Authentication method)
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: K8SClientCert
        k8s-client-key:
          description: K8s Client key (relevant only for K8s migration with Certificate Authentication method)
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: K8SClientKey
        k8s-namespace:
          description: K8s Namespace, Use this field to import secrets from a particular namespace only. By default, the secrets are imported from all namespaces (relevant only for K8s migration)
          type: string
          x-go-name: K8SNamespace
        k8s-password:
          description: K8s Client password (relevant only for K8s migration with Password Authentication method)
          type: string
          x-go-name: K8SPassword
        k8s-skip-system:
          description: K8s Skip Control Plane Secrets, This option allows to avoid importing secrets from system namespaces (relevant only for K8s migration)
          type: boolean
          x-go-name: K8SSkipSystem
        k8s-token:
          description: 'For Token Authentication method

            K8s Bearer Token with sufficient permission to list and get secrets in the namespace(s) you selected (relevant only for K8s migration with Token Authentication method)'
          type: string
          x-go-name: K8SToken
        k8s-url:
          description: K8s API Server URL, e.g. https://k8s-api.mycompany.com:6443 (relevant only for K8s migration)
          type: string
          x-go-name: K8SServer
        k8s-username:
          description: 'For Password Authentication method

            K8s Client username with sufficient permission to list and get secrets in the namespace(s) you selected (relevant only for K8s migration with Password Authentication method)'
          type: string
          x-go-name: K8SUsername
        name:
          description: Migration name
          type: string
          x-go-name: MigrationName
        new_name:
          description: New migration name
          type: string
          x-go-name: NewMigrationName
        protection-key:
          description: The name of the key that protects the classic key value (if empty, the account default key will be used)
          type: string
          x-go-name: ProtectionKey
        target-location:
          description: Target location in Akeyless for imported secrets
          type: string
          x-go-name: TargetLocation
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - target-location
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    GatewayMigrationUpdateOutput:
      example:
        migration_name: migration_name
      properties:
        migration_name:
          type: string
          x-go-name: MigrationName
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
