openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Verify Jwt With Classic Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Verify Jwt With Classic Key
paths:
  /verify-jwt-with-classic-key:
    post:
      operationId: verifyJWTWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyJWTWithClassicKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyJWTOutput'
          description: verifyJWTWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Verify Jwt With Classic Key
      x-codegen-request-body-name: body
      summary: Verify JWT with classic key
      x-summary-source: derived
components:
  schemas:
    verifyJWTOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    verifyJWTWithClassicKey:
      properties:
        display-id:
          description: The name of the key to use in the verify JWT process
          type: string
          x-go-name: DisplayId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt:
          description: JWT
          type: string
          x-go-name: JWT
        required-claims:
          description: RequiredClaims
          type: string
          x-go-name: RequiredClaims
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: classic key version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - display-id
      - jwt
      - required-claims
      - version
      title: verifyJWTWithClassicKey is a command that verifies JWT by using an Classic key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
