openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Delete Role API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Delete Role
paths:
  /delete-role:
    post:
      operationId: deleteRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRole'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRoleOutput'
          description: deleteRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Delete Role
      x-codegen-request-body-name: body
      summary: Delete role
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    deleteRoleOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    deleteRole:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Role name
          type: string
          x-go-name: RoleName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: deleteRole is a command that deletes a role.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
