openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Dynamic Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Dynamic Secret
paths:
  /create-dynamic-secret:
    post:
      operationId: createDynamicSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDynamicSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDynamicSecretOutput'
          description: createDynamicSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Dynamic Secret
      x-codegen-request-body-name: body
      summary: Create dynamic secret
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createDynamicSecret:
      properties:
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the dynamic secret values (if

            empty, the account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: Dynamic secret name
          type: string
          x-go-name: DynamicSecretName
        tags:
          description: List of the tags attached to this secret
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: createDynamicSecret is a command that creates a new dynamic secret item.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createDynamicSecretOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
