openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Validate Token API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Validate Token
paths:
  /validate-token:
    post:
      operationId: validateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateToken'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateTokenOutput'
          description: validateTokenResponse wraps response body.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Validate Token
      x-codegen-request-body-name: body
      summary: Validate token
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    validateToken:
      description: validate-token is a command that validaties token
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Token
          type: string
          x-go-name: Token
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    validateTokenOutput:
      example:
        reason: reason
        is_valid: true
        expiration: expiration
      properties:
        expiration:
          type: string
          x-go-name: ExpirationTime
        is_valid:
          type: boolean
          x-go-name: IsValid
        reason:
          type: string
          x-go-name: Reason
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
