openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Tokenizer API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Tokenizer
paths:
  /create-tokenizer:
    post:
      operationId: createTokenizer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTokenizer'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createTokenizerOutput'
          description: createTokenizerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Tokenizer
      x-codegen-request-body-name: body
      summary: Create tokenizer
      x-summary-source: derived
components:
  schemas:
    createTokenizer:
      description: createTokenizer is a command that creates a tokenizer item
      properties:
        alphabet:
          description: Alphabet to use in regexp vaultless tokenization
          type: string
          x-go-name: Alphabet
        decoding-template:
          description: The Decoding output template to use in regexp vaultless tokenization
          type: string
          x-go-name: DecodingTemplate
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        encoding-template:
          description: The Encoding output template to use in regexp vaultless tokenization
          type: string
          x-go-name: EncodingTemplate
        encryption-key-name:
          description: AES key name to use in vaultless tokenization
          type: string
          x-go-name: EncryptionKeyName
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: Tokenizer name
          type: string
          x-go-name: TokenizerName
        pattern:
          description: Pattern to use in regexp vaultless tokenization
          type: string
          x-go-name: Pattern
        tag:
          description: List of the tags attached to this key
          items:
            type: string
          type: array
          x-go-name: Tags
        template-type:
          description: Which template type this tokenizer is used for [SSN,CreditCard,USPhoneNumber,Email,Regexp]
          type: string
          x-go-name: TemplateType
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        tokenizer-type:
          description: Tokenizer type
          type: string
          x-go-name: TokenizerType
        tweak-type:
          description: The tweak type to use in vaultless tokenization [Supplied, Generated, Internal, Masking]
          type: string
          x-go-name: TweakType
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      - template-type
      - tokenizer-type
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createTokenizerOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
