openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Delete Event Forwarder API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Delete Event Forwarder
paths:
  /delete-event-forwarder:
    post:
      operationId: deleteEventForwarder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteEventForwarder'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteEventForwarderOutput'
          description: deleteEventForwarderResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Delete Event Forwarder
      x-codegen-request-body-name: body
      summary: Delete event forwarder
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    deleteEventForwarder:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: EventForwarder name
          type: string
          x-go-name: EventForwarderName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: deleteEventForwarder is a command that creates a new event forwarder.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    deleteEventForwarderOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
