openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Auth Method Ldap API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Auth Method Ldap
paths:
  /update-auth-method-ldap:
    post:
      operationId: updateAuthMethodLDAP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAuthMethodLDAP'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAuthMethodLDAPOutput'
          description: updateAuthMethodLDAPResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Auth Method Ldap
      x-codegen-request-body-name: body
      summary: Update auth method LDAP
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateAuthMethodLDAPOutput:
      example:
        prv_key: prv_key
      properties:
        prv_key:
          type: string
          x-go-name: PrivateKey
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAuthMethodLDAP:
      description: 'updateAuthMethodLDAP is a command that updates a new auth method that will

        be able to authenticate using LDAP.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gen-key:
          description: Automatically generate key-pair for LDAP configuration. If set to false, a public key needs to be provided
          type: string
          x-go-name: GenerateKeyPair
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        new-name:
          description: Auth Method new name
          type: string
          x-go-name: AuthMethodNewName
        public-key-data:
          description: 'A public key generated for LDAP authentication method on Akeyless in base64 or PEM format

            [RSA2048]'
          type: string
          x-go-name: PublicKeyData
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        unique-identifier:
          description: 'A unique identifier (ID) value should be configured for OAuth2,

            LDAP and SAML authentication method types and is usually a value such

            as the email, username, or upn for example.

            Whenever a user logs in with a token, these authentication types issue

            a "sub claim" that contains details uniquely identifying that user.

            This sub claim includes a key containing the ID value that you

            configured, and is used to distinguish between different users from

            within the same organization.'
          type: string
          x-go-name: UniqueIdentifier
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
