openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Delete Migration API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Delete Migration
paths:
  /gateway-delete-migration:
    post:
      operationId: gatewayDeleteMigration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayDeleteMigration'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayMigrationDeleteOutput'
          description: gatewayMigrationDeleteResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Delete Migration
      x-codegen-request-body-name: body
      summary: Gateway delete migration
      x-summary-source: derived
components:
  schemas:
    GatewayMigrationDeleteOutput:
      example:
        migration_id: migration_id
      properties:
        migration_id:
          type: string
          x-go-name: MigrationId
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    gatewayDeleteMigration:
      description: gatewayDeleteMigration is a command that delete migration
      properties:
        id:
          description: Migration ID
          type: string
          x-go-name: MigrationID
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - id
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
