openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Migrate Personal Items API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Migrate Personal Items
paths:
  /gateway-migrate-personal-items:
    post:
      operationId: gatewayMigratePersonalItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayMigratePersonalItems'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayMigratePersonalItemsOutput'
          description: gatewayMigratePersonalItemsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Migrate Personal Items
      x-codegen-request-body-name: body
      summary: Gateway migrate personal items
      x-summary-source: derived
components:
  schemas:
    gatewayMigratePersonalItems:
      description: gatewayMigratePersonalItems is a command that migrate personal items from external vault
      properties:
        1password-email:
          description: 1Password user email to connect to the API
          type: string
          x-go-name: OpEmail
        1password-password:
          description: 1Password user password to connect to the API
          type: string
          x-go-name: OpPassword
        1password-secret-key:
          description: 1Password user secret key to connect to the API
          type: string
          x-go-name: OpSecretKey
        1password-url:
          description: 1Password api container url
          type: string
          x-go-name: OpUrl
        1password-vaults:
          description: 1Password list of vault to get the items from
          items:
            type: string
          type: array
          x-go-name: Vaults
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        protection-key:
          description: The name of a key that used to encrypt the secret value
          type: string
          x-go-name: ProtectionKey
        target-location:
          description: Target location in your Akeyless personal folder for migrated secrets
          type: string
          x-go-name: TargetLocation
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        type:
          default: 1password
          description: Migration type for now only 1password.
          type: string
          x-go-name: MigrationType
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    MigrationItems:
      example:
        total: 5
        failed: 0
        migrated: 6
        skipped: 1
      properties:
        failed:
          format: int64
          type: integer
          x-go-name: Failed
        migrated:
          format: int64
          type: integer
          x-go-name: Migrated
        skipped:
          format: int64
          type: integer
          x-go-name: Skipped
        total:
          format: int64
          type: integer
          x-go-name: Total
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/importer/report
    gatewayMigratePersonalItemsOutput:
      example:
        migration_items:
          total: 5
          failed: 0
          migrated: 6
          skipped: 1
      properties:
        migration_items:
          $ref: '#/components/schemas/MigrationItems'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
