openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Rotated Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Rotated Secret
paths:
  /update-rotated-secret:
    post:
      operationId: updateRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRotatedSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRotatedSecretOutput'
          description: updateRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Rotated Secret
      x-codegen-request-body-name: body
      summary: Update rotated secret
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateRotatedSecret:
      description: 'updateRotatedSecret is a command that updates rotated secret. [Deprecated: Use gateway-update-item command]'
      properties:
        add-tag:
          description: List of the new tags that will be attached to this item
          items:
            type: string
          type: array
          x-go-name: AddTags
        api-id:
          type: string
          x-go-name: ApiId
        api-key:
          type: string
          x-go-name: ApiKey
        auto-rotate:
          description: 'Whether to automatically rotate every --rotation-interval days, or

            disable existing automatic rotation'
          type: string
          x-go-name: AutoRotate
        aws-region:
          default: us-east-2
          description: Region (used in aws)
          type: string
          x-go-name: AwsRegion
        custom-payload:
          type: string
          x-go-name: Payload
        description:
          default: default_metadata
          description: Description of the object
          type: string
          x-go-name: Description
        gcp-key:
          description: Base64-encoded service account private key text
          type: string
          x-go-name: ServiceAccountKey
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        keep-prev-version:
          type: string
          x-go-name: KeepPrevVersion
        key:
          description: 'The name of a key that used to encrypt the secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Secret name
          type: string
          x-go-name: SecretName
        new-metadata:
          default: default_metadata
          description: Deprecated - use description
          type: string
          x-go-name: NewMetadata
        new-name:
          description: New item name
          type: string
          x-go-name: NewName
        new-version:
          description: Deprecated
          type: boolean
          x-go-name: NewVersion
        rm-tag:
          description: List of the existent tags that will be removed from this item
          items:
            type: string
          type: array
          x-go-name: RemoveTags
        rotate-after-disconnect:
          default: 'false'
          description: Rotate the value of the secret after SRA session ends
          type: string
          x-go-name: RotateAfterDisconnect
        rotated-password:
          type: string
          x-go-name: RotatedPassword
        rotated-username:
          type: string
          x-go-name: RotatedUser
        rotation-hour:
          format: int32
          type: integer
          x-go-name: RotationHour
        rotation-interval:
          description: The number of days to wait between every automatic key rotation (7-365)
          type: string
          x-go-name: RotationInterval
        rotator-creds-type:
          type: string
          x-go-name: RotatorCredsType
        rotator-custom-cmd:
          type: string
          x-go-name: RotatorCustomCmd
        secure-access-allow-external-user:
          default: false
          description: Secure Access Allow Providing External User (used in ssh)
          type: boolean
          x-go-name: SecureAccessAllowProvidingExternalUser
        secure-access-aws-account-id:
          description: Secure Access Account Id (used in aws)
          type: string
          x-go-name: SecureAccessAccountId
        secure-access-aws-native-cli:
          description: Secure Access Aws Native Cli (used in aws)
          type: boolean
          x-go-name: SecureAccessAwsNativeCli
        secure-access-bastion-issuer:
          description: Secure Access Bastion Issuer
          type: string
          x-go-name: SecureAccessBastionIssuer
        secure-access-db-name:
          description: Secure Access DB Name (used in data bases)
          type: string
          x-go-name: SecureAccessDBName
        secure-access-db-schema:
          description: Secure Access Schema (used in mssql, postgresql)
          type: string
          x-go-name: SecureAccessSchema
        secure-access-enable:
          description: Secure Access Enabled
          type: string
          x-go-name: SecureAccessEnabled
        secure-access-host:
          description: Secure Access Host
          items:
            type: string
          type: array
          x-go-name: SecureAccessHost
        secure-access-rdp-domain:
          description: Secure Access Domain (used in ssh)
          type: string
          x-go-name: SecureAccessDomain
        secure-access-rdp-user:
          description: Secure Access Override User (used in ssh)
          type: string
          x-go-name: SecureAccessOverrideUser
        secure-access-web:
          default: false
          description: Secure Access Web
          type: boolean
          x-go-name: SecureAccessWeb
        secure-access-web-browsing:
          default: false
          description: Secure Access Isolated (used in aws, azure)
          type: boolean
          x-go-name: SecureAccessIsolated
        secure-access-web-proxy:
          default: false
          description: Secure Access Web Proxy (used in aws, azure)
          type: boolean
          x-go-name: SecureAccessWebProxy
        ssh-password:
          description: 'Deprecated: use RotatedPassword'
          type: string
          x-go-name: SshPassword
        ssh-username:
          description: 'Deprecated: use RotatedUser'
          type: string
          x-go-name: SshUser
        storage-account-key-name:
          description: The name of the storage account key to rotate [key1/key2/kerb1/kerb2]
          type: string
          x-go-name: StorageKeyName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateRotatedSecretOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
