openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Target
paths:
  /update-target:
    post:
      operationId: updateTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Target
      x-codegen-request-body-name: body
      summary: Update target
      x-summary-source: derived
components:
  schemas:
    updateTargetOutput:
      example:
        updated: true
      properties:
        updated:
          type: boolean
          x-go-name: Updated
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateTarget:
      properties:
        description:
          default: default_comment
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        new-comment:
          default: default_comment
          description: Deprecated - use description
          type: string
          x-go-name: NewComment
        new-name:
          description: New Target name
          type: string
          x-go-name: NewName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: updateTarget is a command that updates an existing target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
