openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Aws Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Aws Target
paths:
  /create-aws-target:
    post:
      operationId: createAWSTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAWSTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAWSTargetOutput'
          description: createAWSTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Aws Target
      x-codegen-request-body-name: body
      summary: Create AWS target
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createAWSTarget:
      properties:
        access-key:
          type: string
          x-go-name: AWSSecretAccessKey
        access-key-id:
          type: string
          x-go-name: AWSAccessKeyID
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        region:
          type: string
          x-go-name: AWSRegion
        session-token:
          type: string
          x-go-name: AWSSessionToken
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        use-gw-cloud-identity:
          type: boolean
          x-go-name: AWSUseDefaultIdentity
      required:
      - name
      title: createAWSTarget is a command that creates a new target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createAWSTargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
