openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Decrypt With Classic Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Decrypt With Classic Key
paths:
  /decrypt-with-classic-key:
    post:
      operationId: decryptWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/decryptWithClassicKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/decryptWithClassicKeyOutput'
          description: decryptWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Decrypt With Classic Key
      x-codegen-request-body-name: body
      summary: Decrypt with classic key
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    decryptWithClassicKey:
      properties:
        ciphertext:
          description: Ciphertext to be decrypted in base64 encoded format
          type: string
          x-go-name: Ciphertext
        display-id:
          description: The name of the key to use in the encryption process
          type: string
          x-go-name: DisplayId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: classic key version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - ciphertext
      - display-id
      - version
      title: decryptWithClassicKey is a command that decryptWithClassicKeys ciphertext into plaintext by using a classic key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    decryptWithClassicKeyOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
