openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Raw Creds API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Raw Creds
paths:
  /raw-creds:
    post:
      operationId: rawCreds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rawCreds'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemAccessCredentialsReplyObj'
          description: rawCredsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Raw Creds
      x-codegen-request-body-name: body
      summary: Raw creds
      x-summary-source: derived
components:
  schemas:
    rawCreds:
      properties:
        access-id:
          type: string
          x-go-name: AccessID
        access-key:
          type: string
          x-go-name: AccessKey
      title: rawCreds is a command that returns raw Akeyless access credentials.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    SystemAccessCredentialsReplyObj:
      example:
        auth_creds: auth_creds
        uam_creds: uam_creds
        kfm_creds: kfm_creds
        expiry: 0
        token: token
      properties:
        auth_creds:
          description: Temporary credentials for accessing Auth
          type: string
          x-go-name: AuthAccessCredentials
        expiry:
          description: Credentials expiration date
          format: int64
          type: integer
          x-go-name: Expiry
        kfm_creds:
          description: Temporary credentials for accessing the KFMs instances
          type: string
          x-go-name: KFMsAccessCredentials
        token:
          description: Credentials tmp token
          type: string
          x-go-name: Token
        uam_creds:
          description: Temporary credentials for accessing the UAM service
          type: string
          x-go-name: UAMAccessCredentials
      title: Combination of three temporary credentials signed by Auth for accessing Auth, UAM and KFMs instances.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/auth
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
