openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Upload Rsa API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Upload Rsa
paths:
  /upload-rsa:
    post:
      operationId: uploadRSA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uploadRSA'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uploadRSAOutput'
          description: uploadRSAResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Upload Rsa
      x-codegen-request-body-name: body
      summary: Upload RSA
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    uploadRSAOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    uploadRSA:
      properties:
        alg:
          description: 'Key type. options: [RSA1024, RSA2048, RSA3072, RSA4096]'
          type: string
          x-go-name: Alg
        cert-file-data:
          description: Certificate in a PEM format.
          type: string
          x-go-name: CertFileData
        customer-frg-id:
          description: 'The customer fragment ID that will be used to split the key (if empty,

            the key will be created independently of a customer fragment)'
          type: string
          x-go-name: CustomerFragmentID
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: Name of key to be created
          type: string
          x-go-name: KeyName
        overwrite:
          description: When the overwrite flag is set, this command will only update an existing key. [true, false]
          type: string
          x-go-name: Overwrite
        rsa-file-data:
          description: RSA private key data, base64 encoded
          type: string
          x-go-name: RSAFileData
        split-level:
          default: 2
          description: The number of fragments that the item will be split into
          format: int64
          type: integer
          x-go-name: SplitLevel
        tag:
          description: List of the tags attached to this key
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - alg
      - name
      title: uploadRSA is a command that uploads RSA key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
