openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Get Role API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Get Role
paths:
  /get-role:
    post:
      operationId: getRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRole'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: getRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Get Role
      x-codegen-request-body-name: body
      summary: Get role
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    getRole:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Role name
          type: string
          x-go-name: RoleName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: getRole is a command that returns role details.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    PathRule:
      example:
        path: path
        start_time: 5
        capabilities:
        - capabilities
        - capabilities
        number_of_allowed_access: 5
        is_limit_access: true
        assigners:
        - unique_id: unique_id
          access_id: access_id
        - unique_id: unique_id
          access_id: access_id
        number_of_access_used: 1
        type: type
        ttl: 2
      properties:
        assigners:
          items:
            $ref: '#/components/schemas/RuleAssigner'
          type: array
          x-go-name: Assigners
        capabilities:
          description: The approved/denied capabilities in the path
          items:
            type: string
          type: array
          x-go-name: Capabilities
        is_limit_access:
          description: flag that indicate that this rule is allowed to be access RemainingAccess of times.
          type: boolean
          x-go-name: IsLimitAccess
        number_of_access_used:
          format: int64
          type: integer
          x-go-name: NumberOfAccessUsed
        number_of_allowed_access:
          format: int64
          type: integer
          x-go-name: NumberOfAllowedAccess
        path:
          description: The path the rule refers to
          type: string
          x-go-name: Path
        start_time:
          format: int64
          type: integer
          x-go-name: StartTime
        ttl:
          format: int64
          type: integer
          x-go-name: TTL
        type:
          title: PathRuleType defines a kind of every PathRule assigned to a Role.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
      title: PathRule is a single rule used in AKEYLESS RBAC.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Rules:
      example:
        path_rules:
        - path: path
          start_time: 5
          capabilities:
          - capabilities
          - capabilities
          number_of_allowed_access: 5
          is_limit_access: true
          assigners:
          - unique_id: unique_id
            access_id: access_id
          - unique_id: unique_id
            access_id: access_id
          number_of_access_used: 1
          type: type
          ttl: 2
        - path: path
          start_time: 5
          capabilities:
          - capabilities
          - capabilities
          number_of_allowed_access: 5
          is_limit_access: true
          assigners:
          - unique_id: unique_id
            access_id: access_id
          - unique_id: unique_id
            access_id: access_id
          number_of_access_used: 1
          type: type
          ttl: 2
        admin: true
      properties:
        admin:
          description: Is admin
          type: boolean
          x-go-name: Admin
        path_rules:
          description: The path the rules refers to
          items:
            $ref: '#/components/schemas/PathRule'
          type: array
          x-go-name: PathRules
      title: Rules are a part of AKEYLESS RBAC.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    RoleAuthMethodAssociation:
      description: 'RoleAuthMethodAssociation includes details of an association between a role

        and an auth method.'
      example:
        assoc_id: assoc_id
        auth_method_name: auth_method_name
        auth_method_sub_claims:
          key:
          - auth_method_sub_claims
          - auth_method_sub_claims
        auth_method_access_id: auth_method_access_id
        sub_claims_case_sensitive: true
      properties:
        assoc_id:
          type: string
          x-go-name: AssociationID
        auth_method_access_id:
          type: string
          x-go-name: AuthMethodAccessID
        auth_method_name:
          type: string
          x-go-name: AuthMethodName
        auth_method_sub_claims:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: AuthMethodSubClaims
        sub_claims_case_sensitive:
          type: boolean
          x-go-name: IsSubClaimsCaseSensitive
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    RuleAssigner:
      example:
        unique_id: unique_id
        access_id: access_id
      properties:
        access_id:
          type: string
          x-go-name: AccessId
        unique_id:
          type: string
          x-go-name: UniqueId
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Role:
      example:
        role_name: role_name
        client_permissions:
        - client_permissions
        - client_permissions
        role_auth_methods_assoc:
        - assoc_id: assoc_id
          auth_method_name: auth_method_name
          auth_method_sub_claims:
            key:
            - auth_method_sub_claims
            - auth_method_sub_claims
          auth_method_access_id: auth_method_access_id
          sub_claims_case_sensitive: true
        - assoc_id: assoc_id
          auth_method_name: auth_method_name
          auth_method_sub_claims:
            key:
            - auth_method_sub_claims
            - auth_method_sub_claims
          auth_method_access_id: auth_method_access_id
          sub_claims_case_sensitive: true
        access_date: 2000-01-23 04:56:07+00:00
        modification_date: 2000-01-23 04:56:07+00:00
        comment: comment
        rules:
          path_rules:
          - path: path
            start_time: 5
            capabilities:
            - capabilities
            - capabilities
            number_of_allowed_access: 5
            is_limit_access: true
            assigners:
            - unique_id: unique_id
              access_id: access_id
            - unique_id: unique_id
              access_id: access_id
            number_of_access_used: 1
            type: type
            ttl: 2
          - path: path
            start_time: 5
            capabilities:
            - capabilities
            - capabilities
            number_of_allowed_access: 5
            is_limit_access: true
            assigners:
            - unique_id: unique_id
              access_id: access_id
            - unique_id: unique_id
              access_id: access_id
            number_of_access_used: 1
            type: type
            ttl: 2
          admin: true
        creation_date: 2000-01-23 04:56:07+00:00
      properties:
        access_date:
          format: date-time
          type: string
          x-go-name: AccessDate
        client_permissions:
          items:
            type: string
          type: array
          x-go-name: ClientPermissions
        comment:
          type: string
          x-go-name: Comment
        creation_date:
          format: date-time
          type: string
          x-go-name: CreationDate
        modification_date:
          format: date-time
          type: string
          x-go-name: ModificationDate
        role_auth_methods_assoc:
          items:
            $ref: '#/components/schemas/RoleAuthMethodAssociation'
          type: array
          x-go-name: RoleAuthMethodsAssoc
        role_name:
          type: string
          x-go-name: RoleName
        rules:
          $ref: '#/components/schemas/Rules'
      title: Role includes role details.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
