openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Auth Method Huawei API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Auth Method Huawei
paths:
  /create-auth-method-huawei:
    post:
      operationId: createAuthMethodHuawei
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodHuawei'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodHuaweiOutput'
          description: createAuthMethodHuaweiResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Auth Method Huawei
      x-codegen-request-body-name: body
      summary: Create auth method huawei
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createAuthMethodHuawei:
      description: 'createAuthMethodHuawei is a command that creates a new auth method that will

        be able to authenticate using Huawei credentials.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        auth-url:
          default: https://iam.myhwclouds.com:443/v3
          description: sts URL
          type: string
          x-go-name: AuthEndpoint
        bound-domain-id:
          description: A list of domain IDs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundDomainID
        bound-domain-name:
          description: A list of domain names that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundDomainIDName
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        bound-tenant-id:
          description: A list of full tenant ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundTenantID
        bound-tenant-name:
          description: A list of full tenant names that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundTenantName
        bound-user-id:
          description: A list of full user ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundUserID
        bound-user-name:
          description: A list of full user-name that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundUserName
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createAuthMethodHuaweiOutput:
      example:
        access_id: access_id
      properties:
        access_id:
          type: string
          x-go-name: AccessID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
