openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Certificate API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Certificate
paths:
  /create-certificate:
    post:
      operationId: createCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCertificate'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCertificateOutput'
          description: createCertificateResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Certificate
      x-codegen-request-body-name: body
      summary: Create certificate
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createCertificate:
      properties:
        certificate-data:
          description: Content of the certificate PEM in a Base64 format.
          type: string
          x-go-name: CertificateData
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        expiration-event-in:
          description: How many days before the expiration of the certificate would you like to be notified.
          items:
            type: string
          type: array
          x-go-name: ExpirationEventsInDays
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key to use to encrypt the certificate''s key (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        key-data:
          description: Content of the certificate's private key PEM in a Base64 format.
          type: string
          x-go-name: PrivateKeyData
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: Certificate name
          type: string
          x-go-name: CertificateName
        tags:
          description: List of the tags attached to this certificate
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: createCertificate is a command that creates a certificate.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createCertificateOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
