openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Ping Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Ping Target
paths:
  /create-ping-target:
    post:
      operationId: createPingTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPingTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createPingTargetOutput'
          description: createPingTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Ping Target
      x-codegen-request-body-name: body
      summary: Create ping target
      x-summary-source: derived
components:
  schemas:
    createPingTargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createPingTarget:
      properties:
        administrative-port:
          default: '9999'
          description: Ping Federate administrative port
          type: string
          x-go-name: AdministrativePort
        authorization-port:
          default: '9031'
          description: Ping Federate authorization port
          type: string
          x-go-name: AuthorizationPort
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        password:
          description: Ping Federate privileged user password
          type: string
          x-go-name: UserPassword
        ping-url:
          description: Ping URL
          type: string
          x-go-name: PingURL
        privileged-user:
          description: Ping Federate privileged user
          type: string
          x-go-name: PrivilegedUser
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: createPingTarget is a command that creates a new target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
