openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Rollback Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Rollback Secret
paths:
  /rollback-secret:
    post:
      operationId: rollbackSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollbackSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rollbackSecretOutput'
          description: rollbackSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Rollback Secret
      x-codegen-request-body-name: body
      summary: Rollback secret
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    rollbackSecret:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Secret name
          type: string
          x-go-name: SecretName
        old-version:
          description: Old secret version to rollback to
          format: int32
          type: integer
          x-go-name: OldSecretVersion
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      - old-version
      title: rollbackSecret is a command that rollbacks secret to older version.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    rollbackSecretOutput:
      example:
        name: name
        version: 0
      properties:
        name:
          type: string
          x-go-name: Name
        version:
          format: int32
          type: integer
          x-go-name: Version
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
