openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Auth Method Azure Ad API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Auth Method Azure Ad
paths:
  /update-auth-method-azure-ad:
    post:
      operationId: updateAuthMethodAzureAD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAuthMethodAzureAD'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAuthMethodAzureADOutput'
          description: updateAuthMethodAzureADResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Auth Method Azure Ad
      x-codegen-request-body-name: body
      summary: Update auth method azure AD
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateAuthMethodAzureAD:
      description: 'updateAuthMethodAzureAD is a command that updates a new auth method that

        will be able to authenticate using Azure Active Directory credentials.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        audience:
          default: https://management.azure.com/
          description: The audience in the JWT
          type: string
          x-go-name: Audience
        bound-group-id:
          description: A list of group ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundGroupIDs
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        bound-providers:
          description: 'A list of resource providers that the access is restricted to (e.g,

            Microsoft.Compute, Microsoft.ManagedIdentity, etc)'
          items:
            type: string
          type: array
          x-go-name: BoundResourceProviders
        bound-resource-id:
          description: A list of full resource ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundResourceIds
        bound-resource-names:
          description: 'A list of resource names that the access is restricted to (e.g, a

            virtual machine name, scale set name, etc).'
          items:
            type: string
          type: array
          x-go-name: BoundResourceNames
        bound-resource-types:
          description: 'A list of resource types that the access is restricted to (e.g,

            virtualMachines, userAssignedIdentities, etc)'
          items:
            type: string
          type: array
          x-go-name: BoundResourceTypes
        bound-rg-id:
          description: A list of resource groups that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundResourceGroups
        bound-spid:
          description: A list of service principal IDs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundServicePrincipalIDs
        bound-sub-id:
          description: A list of subscription ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundSubscriptionsIDs
        bound-tenant-id:
          description: The Azure tenant id that the access is restricted to
          type: string
          x-go-name: BoundTenantID
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        issuer:
          default: https://sts.windows.net/---bound_tenant_id---
          description: Issuer URL
          type: string
          x-go-name: Issuer
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwks-uri:
          default: https://login.microsoftonline.com/common/discovery/keys
          description: 'The URL to the JSON Web Key Set (JWKS) that containing the public keys

            that should be used to verify any JSON Web Token (JWT) issued by the

            authorization server.'
          type: string
          x-go-name: JWKeySetURL
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        new-name:
          description: Auth Method new name
          type: string
          x-go-name: AuthMethodNewName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - bound-tenant-id
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAuthMethodAzureADOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
