openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Rotated Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Rotated Secret
paths:
  /create-rotated-secret:
    post:
      operationId: createRotatedSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRotatedSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRotatedSecretOutput'
          description: createRotatedSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Rotated Secret
      x-codegen-request-body-name: body
      summary: Create rotated secret
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    createRotatedSecret:
      properties:
        api-id:
          type: string
          x-go-name: ApiId
        api-key:
          type: string
          x-go-name: ApiKey
        application-id:
          description: ApplicationId (used in azure)
          type: string
          x-go-name: ApplicationId
        authentication-credentials:
          type: string
          x-go-name: RotatorCredsType
        auto-rotate:
          description: 'Whether to automatically rotate every --rotation-interval days, or

            disable existing automatic rotation'
          type: string
          x-go-name: AutoRotate
        aws-region:
          default: us-east-2
          description: Region (used in aws)
          type: string
          x-go-name: AwsRegion
        custom-payload:
          type: string
          x-go-name: Payload
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        gcp-key:
          description: Base64-encoded service account private key text
          type: string
          x-go-name: ServiceAccountKey
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: Secret name
          type: string
          x-go-name: SecretName
        rotate-after-disconnect:
          default: 'false'
          description: Rotate the value of the secret after SRA session ends
          type: string
          x-go-name: RotateAfterDisconnect
        rotated-password:
          type: string
          x-go-name: RotatedPassword
        rotated-username:
          type: string
          x-go-name: RotatedUser
        rotation-hour:
          format: int32
          type: integer
          x-go-name: RotationHour
        rotation-interval:
          description: The number of days to wait between every automatic key rotation (1-365)
          type: string
          x-go-name: RotationInterval
        rotator-creds-type:
          type: string
          x-go-name: RotatorCredsTypeBC
        rotator-custom-cmd:
          type: string
          x-go-name: RotatorCustomCmd
        rotator-type:
          description: Rotator Type
          type: string
          x-go-name: RotatorType
        secure-access-allow-external-user:
          default: false
          description: Secure Access Allow Providing External User (used in ssh)
          type: boolean
          x-go-name: SecureAccessAllowProvidingExternalUser
        secure-access-aws-account-id:
          description: Secure Access Account Id (used in aws)
          type: string
          x-go-name: SecureAccessAccountId
        secure-access-aws-native-cli:
          description: Secure Access Aws Native Cli (used in aws)
          type: boolean
          x-go-name: SecureAccessAwsNativeCli
        secure-access-bastion-issuer:
          description: Secure Access Bastion Issuer
          type: string
          x-go-name: SecureAccessBastionIssuer
        secure-access-db-name:
          description: Secure Access DB Name (used in data bases)
          type: string
          x-go-name: SecureAccessDBName
        secure-access-db-schema:
          description: Secure Access Schema (used in mssql, postgresql)
          type: string
          x-go-name: SecureAccessSchema
        secure-access-enable:
          description: Secure Access Enabled
          type: string
          x-go-name: SecureAccessEnabled
        secure-access-host:
          description: Secure Access Host
          items:
            type: string
          type: array
          x-go-name: SecureAccessHost
        secure-access-rdp-domain:
          description: Secure Access Domain (used in ssh)
          type: string
          x-go-name: SecureAccessDomain
        secure-access-rdp-user:
          description: Secure Access Override User (used in ssh)
          type: string
          x-go-name: SecureAccessOverrideUser
        secure-access-web:
          default: false
          description: Secure Access Web
          type: boolean
          x-go-name: SecureAccessWeb
        secure-access-web-browsing:
          default: false
          description: Secure Access Isolated (used in aws, azure)
          type: boolean
          x-go-name: SecureAccessIsolated
        secure-access-web-proxy:
          default: false
          description: Secure Access Web Proxy (used in aws, azure)
          type: boolean
          x-go-name: SecureAccessWebProxy
        ssh-password:
          description: 'Deprecated: use RotatedPassword'
          type: string
          x-go-name: SshPassword
        ssh-username:
          description: 'Deprecated: use RotatedUser'
          type: string
          x-go-name: SshUser
        storage-account-key-name:
          description: The name of the storage account key to rotate [key1/key2/kerb1/kerb2] (relevat to azure-storage-account)
          type: string
          x-go-name: StorageKeyName
        tags:
          description: List of the tags attached to this secret
          items:
            type: string
          type: array
          x-go-name: Tags
        target-name:
          description: Target name
          type: string
          x-go-name: TargetName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        user-attribute:
          description: LDAP User Attribute, Default value "cn"
          type: string
          x-go-name: UserAttribute
        user-dn:
          description: LDAP User Base DN
          type: string
          x-go-name: UserDn
      required:
      - name
      - rotator-type
      - target-name
      title: createRotatedSecret is a command that creates a rotated secret.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    CreateRotatedSecretOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
