openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Connect API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Connect
paths:
  /connect:
    post:
      operationId: Connect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connect'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connectOutput'
          description: connectResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Connect
      x-codegen-request-body-name: body
      summary: Connect
      x-summary-source: derived
components:
  schemas:
    connectOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    Connect:
      description: Connect is a command that performs secure remote access
      example:
        cert-issuer-name: cert-issuer-name
        ssh-legacy-signing-alg: true
        ssh-command: ssh-command
        via-bastion: via-bastion
        identity-file: identity-file
        bastion-ctrl-subdomain: bastion-ctrl-subdomain
        uid-token: uid-token
        bastion-ctrl-path: bastion-ctrl-path
        target: target
        token: token
        Helper: '{}'
        bastion-ctrl-port: '9900'
        name: name
        bastion-ctrl-proto: http
        json: true
        ssh-extra-args: ssh-extra-args
        RcFileOverride: RcFileOverride
      properties:
        Helper:
          type: object
          x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
        RcFileOverride:
          description: used to override .akeyless-connect.rc in tests
          type: string
        bastion-ctrl-path:
          description: The Bastion API path
          type: string
          x-go-name: BastionAPIPath
        bastion-ctrl-port:
          default: '9900'
          description: The Bastion API Port
          type: string
          x-go-name: BastionPort
        bastion-ctrl-proto:
          default: http
          description: The Bastion API protocol
          type: string
          x-go-name: BastionProtocol
        bastion-ctrl-subdomain:
          description: The Bastion API prefix
          type: string
          x-go-name: BastionAPIPrefix
        cert-issuer-name:
          description: The Akeyless certificate issuer name
          type: string
          x-go-name: CertIssuerName
        identity-file:
          description: The file from which the identity (private key) for public key authentication is read
          type: string
          x-go-name: IdentityFile
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: The Secret name (for database and AWS producers - producer name)
          type: string
          x-go-name: SecretName
        ssh-command:
          description: Path to SSH executable. e.g. /usr/bin/ssh
          type: string
          x-go-name: SSHLocation
        ssh-extra-args:
          description: The Use to add offical SSH arguments (except -i)
          type: string
          x-go-name: SSHExtraArgs
        ssh-legacy-signing-alg:
          description: Set this option to output legacy ('ssh-rsa-cert-v01@openssh.com') signing algorithm name in the ssh certificate.
          type: boolean
          x-go-name: SSHLegacySigningAlg
        target:
          description: The target
          type: string
          x-go-name: Target
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        via-bastion:
          description: The jump box server
          type: string
          x-go-name: ViaBastion
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
