openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Salesforce Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Salesforce Target
paths:
  /create-salesforce-target:
    post:
      operationId: createSalesforceTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSalesforceTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSalesforceTargetOutput'
          description: createSalesforceTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Salesforce Target
      x-codegen-request-body-name: body
      summary: Create salesforce target
      x-summary-source: derived
components:
  schemas:
    createSalesforceTargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createSalesforceTarget:
      properties:
        app-private-key-data:
          description: Base64 encoded PEM of the connected app private key (relevant for JWT auth only)
          type: string
          x-go-name: AppPrivateKeyData
        auth-flow:
          description: type of the auth flow ('jwt' / 'user-password')
          type: string
          x-go-name: AuthFlowType
        ca-cert-data:
          description: Base64 encoded PEM cert to use when uploading a new key to Salesforce
          type: string
          x-go-name: CACertData
        ca-cert-name:
          description: name of the certificate in Salesforce tenant to use when uploading new key
          type: string
          x-go-name: CACertName
        client-id:
          description: Client ID of the oauth2 app to use for connecting to Salesforce
          type: string
          x-go-name: ClientId
        client-secret:
          description: Client secret of the oauth2 app to use for connecting to Salesforce (required for password flow)
          type: string
          x-go-name: ClientSecret
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        email:
          description: The email of the user attached to the oauth2 app used for connecting to Salesforce
          type: string
          x-go-name: Email
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        password:
          description: The password of the user attached to the oauth2 app used for connecting to Salesforce (required for user-password flow)
          type: string
          x-go-name: Password
        security-token:
          description: The security token of the user attached to the oauth2 app used for connecting to Salesforce  (required for user-password flow)
          type: string
          x-go-name: SecurityToken
        tenant-url:
          description: Url of the Salesforce tenant
          type: string
          x-go-name: TenantUrl
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - auth-flow
      - client-id
      - email
      - name
      - tenant-url
      title: createSalesforceTarget is a command that creates a new target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
