openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Ldap Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Ldap Target
paths:
  /create-ldap-target:
    post:
      operationId: createldapTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createLdapTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createLdapTargetOutput'
          description: createldapTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Ldap Target
      x-codegen-request-body-name: body
      summary: Createldap target
      x-summary-source: derived
components:
  schemas:
    createLdapTargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createLdapTarget:
      properties:
        bind-dn:
          description: Bind DN
          type: string
          x-go-name: BindDn
        bind-dn-password:
          description: Bind DN Password
          type: string
          x-go-name: BindDnPassword
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        ldap-ca-cert:
          description: CA Certificate File Content
          type: string
          x-go-name: LdapCACert
        ldap-url:
          description: LDAP Server URL
          type: string
          x-go-name: LdapUrl
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        server-type:
          default: OpenLDAP
          description: Set Ldap server type, Options:[OpenLDAP, ActiveDirectory]. Default is OpenLDAP
          type: string
          x-go-name: ServerType
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        token-expiration:
          description: Token expiration
          type: string
          x-go-name: TokenExpiration
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - bind-dn
      - bind-dn-password
      - ldap-url
      - name
      title: createldapTarget is a command that creates a new target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
