openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Configure API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Configure
paths:
  /configure:
    post:
      operationId: configure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configure'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configureOutput'
          description: configureResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Configure
      x-codegen-request-body-name: body
      summary: Configure
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    configure:
      properties:
        access-id:
          description: Access ID
          type: string
          x-go-name: AccessID
        access-key:
          description: Access Key
          type: string
          x-go-name: AccessKey
        access-type:
          default: access_key
          description: Access Type (access_key/password/azure_ad/saml/oidc/aws_iam/gcp/k8s)
          type: string
          x-go-name: AccessType
        admin-email:
          description: Email (relevant only for access-type=password)
          type: string
          x-go-name: AdminEmail
        admin-password:
          description: Password (relevant only for access-type=password)
          type: string
          x-go-name: AdminPass
        azure_ad_object_id:
          description: Azure Active Directory ObjectId (relevant only for access-type=azure_ad)
          type: string
          x-go-name: AzureAdObjectID
        cert-data:
          description: Certificate data encoded in base64. Used if file was not provided. (relevant only for access-type=cert in Curl Context)
          type: string
          x-go-name: CertData
        gcp-audience:
          description: GCP JWT audience
          type: string
          x-go-name: GCPAudience
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        k8s-auth-config-name:
          description: The K8S Auth config name (relevant only for access-type=k8s)
          type: string
          x-go-name: K8SAuthConfigName
        key-data:
          description: Private key data encoded in base64. Used if file was not provided.(relevant only for access-type=cert in Curl Context)
          type: string
          x-go-name: KeyData
      title: configure is a command that creates a new Akeyless profile.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    configureOutput:
      example:
        profile: profile
        token: token
      properties:
        profile:
          type: string
          x-go-name: Profile
        token:
          type: string
          x-go-name: Token
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
