openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Tokenize API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Tokenize
paths:
  /tokenize:
    post:
      operationId: tokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokenize'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenizeOutput'
          description: tokenizeResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Tokenize
      x-codegen-request-body-name: body
      summary: Tokenize
      x-summary-source: derived
components:
  schemas:
    tokenize:
      description: tokenize is a command that encrypts text with a tokenizer
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        plaintext:
          description: Data to be encrypted
          type: string
          x-go-name: Plaintext
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        tokenizer-name:
          description: The name of the tokenizer to use in the encryption process
          type: string
          x-go-name: TokenizerName
        tweak:
          description: Base64 encoded tweak for vaultless encryption
          type: string
          x-go-name: Tweak
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - plaintext
      - tokenizer-name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    tokenizeOutput:
      example:
        result: result
        tweak: tweak
      properties:
        result:
          type: string
          x-go-name: Result
        tweak:
          type: string
          x-go-name: Tweak
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
