openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Rotate Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Rotate Secret
paths:
  /gateway-rotate-secret:
    post:
      operationId: rotateSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rotateSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotatedSecretOutput'
          description: rotateSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Rotate Secret
      x-codegen-request-body-name: body
      summary: Rotate secret
      x-summary-source: derived
components:
  schemas:
    rotateSecret:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Secret name (Rotated Secret or Custom Dynamic Secret)
          type: string
          x-go-name: SecretName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: rotateSecret is a command that trigger a rotate operation for a Rotated Secret or Custom Dynamic Secret..
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    RotatedSecretOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
