openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Role API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Role
paths:
  /create-role:
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRole'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRoleOutput'
          description: createRoleResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Role
      x-codegen-request-body-name: body
      summary: Create role
      x-summary-source: derived
components:
  schemas:
    createRole:
      properties:
        analytics-access:
          description: 'Allow this role to view analytics. Currently only ''none'', ''own'', ''all''

            values are supported, allowing associated auth methods to view reports

            produced by the same auth methods.'
          type: string
          x-go-name: AnalyticsAccess
        audit-access:
          description: 'Allow this role to view audit logs. Currently only ''none'', ''own'' and ''all''

            values are supported, allowing associated auth methods to view audit

            logs produced by the same auth methods.'
          type: string
          x-go-name: AuditAccess
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        gw-analytics-access:
          description: 'Allow this role to view gw analytics. Currently only ''none'', ''own'', ''all''

            values are supported, allowing associated auth methods to view reports

            produced by the same auth methods.'
          type: string
          x-go-name: GwAnalyticsAccess
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Role name
          type: string
          x-go-name: RoleName
        sra-reports-access:
          description: 'Allow this role to view SRA Clusters. Currently only ''none'', ''own'',

            ''all'' values are supported.'
          type: string
          x-go-name: SRAReportsAccess
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: createRole is a command that creates a new role .
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createRoleOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
