openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Sign Jwt With Classic Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Sign Jwt With Classic Key
paths:
  /sign-jwt-with-classic-key:
    post:
      operationId: signJWTWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signJWTWithClassicKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signJWTOutput'
          description: signJWTWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Sign Jwt With Classic Key
      x-codegen-request-body-name: body
      summary: Sign JWT with classic key
      x-summary-source: derived
components:
  schemas:
    signJWTWithClassicKey:
      properties:
        display-id:
          description: The name of the key to use in the sign JWT process
          type: string
          x-go-name: DisplayId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt-claims:
          description: JWTClaims
          type: string
          x-go-name: JWTClaims
        signing-method:
          description: SigningMethod
          type: string
          x-go-name: SigningMethod
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: classic key version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - display-id
      - jwt-claims
      - signing-method
      - version
      title: signJWTWithClassicKey is a command that signs JWT by using an Classic key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    signJWTOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
