openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Request Access API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Request Access
paths:
  /request-access:
    post:
      operationId: requestAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestAccess'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestAccessOutput'
          description: requestAccessResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Request Access
      x-codegen-request-body-name: body
      summary: Request access
      x-summary-source: derived
components:
  schemas:
    requestAccessOutput:
      example:
        response: response
      properties:
        response:
          type: string
          x-go-name: Response
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    requestAccess:
      properties:
        capability:
          description: 'List of the required capabilities options: [read, update, delete]'
          items:
            type: string
          type: array
          x-go-name: Capabilities
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Item type
          type: string
          x-go-name: ItemType
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - capability
      - name
      title: requestAccess is a command that requests access for an item.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
