openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Secret Val API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Secret Val
paths:
  /update-secret-val:
    post:
      operationId: updateSecretVal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSecretVal'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSecretValOutput'
          description: updateSecretValResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Secret Val
      x-codegen-request-body-name: body
      summary: Update secret val
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateSecretVal:
      properties:
        accessibility:
          default: regular
          description: for personal password manager
          type: string
          x-go-name: ItemAccessibilityString
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        keep-prev-version:
          type: string
          x-go-name: KeepPrevVersion
        key:
          description: 'The name of a key that used to encrypt the secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        multiline:
          description: The provided value is a multiline value (separated by '\n')
          type: boolean
          x-go-name: MultilineValue
        name:
          description: Secret name
          type: string
          x-go-name: SecretName
        new-version:
          description: Deprecated
          type: boolean
          x-go-name: NewVersion
        password-manager-custom-field:
          additionalProperties:
            type: string
          description: For Password Management use, additional fields
          type: object
          x-go-name: CustomFields
        password-manager-inject-url:
          description: For Password Management use, reflect the website context
          items:
            type: string
          type: array
          x-go-name: Websites
        password-manager-password:
          description: For Password Management use, additional fields
          type: string
          x-go-name: Password
        password-manager-username:
          description: For Password Management use
          type: string
          x-go-name: Username
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        value:
          description: The new secret value
          type: string
          x-go-name: Value
      required:
      - name
      - value
      title: updateSecretVal is a command that updates static secret value.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    UpdateSecretValOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
