openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Auth Method Oauth2 API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Auth Method Oauth2
paths:
  /create-auth-method-oauth2:
    post:
      operationId: createAuthMethodOAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAuthMethodOAuth2'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAuthMethodOAuth2Output'
          description: createAuthMethodOAuth2Response wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Auth Method Oauth2
      x-codegen-request-body-name: body
      summary: Create auth method OAuth2
      x-summary-source: derived
components:
  schemas:
    createAuthMethodOAuth2:
      description: 'createAuthMethodOAuth2 is a command that creates a new auth method that will

        be able to authenticate using Oauth2.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        audience:
          description: The audience in the JWT
          type: string
          x-go-name: Audience
        bound-client-ids:
          description: The clients ids that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundClientID
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        issuer:
          description: Issuer URL
          type: string
          x-go-name: Issuer
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwks-uri:
          description: 'The URL to the JSON Web Key Set (JWKS) that containing the public keys

            that should be used to verify any JSON Web Token (JWT) issued by the

            authorization server.'
          type: string
          x-go-name: JWKeySetURL
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        unique-identifier:
          description: 'A unique identifier (ID) value should be configured for OAuth2,

            LDAP and SAML authentication method types and is usually a value such

            as the email, username, or upn for example.

            Whenever a user logs in with a token, these authentication types issue

            a "sub claim" that contains details uniquely identifying that user.

            This sub claim includes a key containing the ID value that you

            configured, and is used to distinguish between different users from

            within the same organization.'
          type: string
          x-go-name: UniqueIdentifier
      required:
      - jwks-uri
      - name
      - unique-identifier
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createAuthMethodOAuth2Output:
      example:
        access_id: access_id
      properties:
        access_id:
          type: string
          x-go-name: AccessID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
