openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Uid Generate Token API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Uid Generate Token
paths:
  /uid-generate-token:
    post:
      operationId: uidGenerateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidGenerateToken'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidGenerateTokenOutput'
          description: uidGenerateTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Uid Generate Token
      x-codegen-request-body-name: body
      summary: Uid generate token
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    uidGenerateTokenOutput:
      example:
        token: token
      properties:
        token:
          type: string
          x-go-name: Token
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    uidGenerateToken:
      description: 'uidGenerateToken is a command that generates a new token using Akeyless

        Universal Identity.'
      properties:
        auth-method-name:
          description: The universal identity auth method name
          type: string
          x-go-name: AuthMethodName
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - auth-method-name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
