openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Auth Method K8s API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Auth Method K8s
paths:
  /update-auth-method-k8s:
    post:
      operationId: updateAuthMethodK8S
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAuthMethodK8S'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAuthMethodK8SOutput'
          description: updateAuthMethodK8SResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Auth Method K8s
      x-codegen-request-body-name: body
      summary: Update auth method K8 S
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateAuthMethodK8SOutput:
      example:
        prv_key: prv_key
      properties:
        prv_key:
          type: string
          x-go-name: PrivateKey
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAuthMethodK8S:
      description: 'updateAuthMethodK8S is a command that updates a new auth method that will

        be able to authenticate using K8S.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        audience:
          description: The audience in the Kubernetes JWT that the access is restricted to
          type: string
          x-go-name: Audience
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        bound-namespaces:
          description: A list of namespaces that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundNamespaces
        bound-pod-names:
          description: A list of pod names that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundPodNames
        bound-sa-names:
          description: A list of service account names that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: BoundServiceAccountNames
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gen-key:
          description: Automatically generate key-pair for K8S configuration. If set to false, a public key needs to be provided
          type: string
          x-go-name: GenerateKeyPair
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        new-name:
          description: Auth Method new name
          type: string
          x-go-name: AuthMethodNewName
        public-key:
          description: Base64-encoded or PEM formatted public key data for K8S authentication method is required [RSA2048]
          type: string
          x-go-name: PublicKey
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
