openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Static Creds Auth API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Static Creds Auth
paths:
  /static-creds-auth:
    post:
      operationId: staticCredsAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/staticCredsAuth'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/staticCredsAuthOutput'
          description: staticCredsAuthResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Static Creds Auth
      x-codegen-request-body-name: body
      summary: Static creds auth
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    staticCredsAuth:
      description: 'staticCredsAuth is a command that creates a temporary access profile using

        the provided static credentials.'
      properties:
        access-id:
          description: Akeyless JWT token
          type: string
          x-go-name: AccessID
        admin-email:
          description: Akeyless JWT token
          type: string
          x-go-name: AdminEmail
        creds:
          description: Akeyless JWT token
          type: string
          x-go-name: Creds
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    staticCredsAuthOutput:
      example:
        token: token
      properties:
        token:
          type: string
          x-go-name: Token
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
