openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Sign Gpg API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Sign Gpg
paths:
  /sign-gpg:
    post:
      operationId: signGPG
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signGPG'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signGPGOutput'
          description: signGPGResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Sign Gpg
      x-codegen-request-body-name: body
      summary: Sign GPG
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    signGPG:
      properties:
        display-id:
          description: The display id of the key to use in the encryption process
          type: string
          x-go-name: DisplayId
        item-id:
          description: The item id of the key to use in the encryption process
          format: int64
          type: integer
          x-go-name: ItemId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key-name:
          description: The name of the key to use in the encryption process
          type: string
          x-go-name: KeyName
        message:
          description: The message to be signed in base64 format
          type: string
          x-go-name: Message
        passphrase:
          description: Passphrase that was used to generate the key
          type: string
          x-go-name: Passphrase
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - key-name
      - message
      title: signGPG is a command that calculates the GPG signature of a message using RSA key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    signGPGOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
