openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Delete Targets API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Delete Targets
paths:
  /delete-targets:
    post:
      operationId: deleteTargets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTargets'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetsOutput'
          description: deleteTargetsResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Delete Targets
      x-codegen-request-body-name: body
      summary: Delete targets
      x-summary-source: derived
components:
  schemas:
    deleteTargets:
      properties:
        force-deletion:
          default: false
          description: Enforce deletion
          type: boolean
          x-go-name: ForceDeletion
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        path:
          description: Path to delete the targets from
          type: string
          x-go-name: Path
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - path
      title: deleteTargets is a command that deletes multiple targets from a given path.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    deleteTargetsOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
