openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Assoc API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Assoc
paths:
  /update-assoc:
    post:
      operationId: updateAssoc
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAssoc'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAssocOutput'
          description: updateAssocResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Assoc
      x-codegen-request-body-name: body
      summary: Update assoc
      x-summary-source: derived
components:
  schemas:
    updateAssocOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAssoc:
      description: 'updateAssoc is a command that updates the sub-claims of an association between role

        and auth method.'
      properties:
        assoc-id:
          description: The association id to be updated
          type: string
          x-go-name: AssocID
        case-sensitive:
          type: string
          x-go-name: IsSubClaimsCaseSensitive
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        sub-claims:
          additionalProperties:
            type: string
          description: key/val of sub claims, e.g group=admins,developers
          type: object
          x-go-name: SubClaims
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - assoc-id
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
