openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Verify Gpg API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Verify Gpg
paths:
  /verify-gpg:
    post:
      operationId: verifyGPG
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyGPG'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyGPGOutput'
          description: verifyGPGResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Verify Gpg
      x-codegen-request-body-name: body
      summary: Verify GPG
      x-summary-source: derived
components:
  schemas:
    verifyGPG:
      properties:
        display-id:
          description: The display id of the key to use in the encryption process
          type: string
          x-go-name: DisplayId
        item-id:
          description: The item id of the key to use in the encryption process
          format: int64
          type: integer
          x-go-name: ItemId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        key-name:
          description: The name of the key to use in the encryption process
          type: string
          x-go-name: KeyName
        passphrase:
          description: Passphrase that was used to generate the key
          type: string
          x-go-name: Passphrase
        signature:
          description: The signature to be verified in base64 format
          type: string
          x-go-name: Signature
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - key-name
      - signature
      title: verifyGPG is a command that verifies a GPG signature based on RSA key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    verifyGPGOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
