openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Get Rotated Secret Value API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Get Rotated Secret Value
paths:
  /get-rotated-secret-value:
    post:
      operationId: getRotatedSecretValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRotatedSecretValue'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: getRotatedSecretValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Get Rotated Secret Value
      x-codegen-request-body-name: body
      summary: Get rotated secret value
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    getRotatedSecretValue:
      properties:
        ignore-cache:
          description: 'Ignore Cache

            Retrieve the Secret value without checking the Gateway''s cache [true/false]. This flag is only relevant when using the RestAPI'
          type: string
          x-go-name: IgnoreCache
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        names:
          description: Secret name
          type: string
          x-go-name: Names
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: Secret version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - names
      title: getRotatedSecretValue is a command that creates a new Akeyless profile.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
