openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Kmip Delete Environment API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Kmip Delete Environment
paths:
  /kmip-delete-environment:
    delete:
      operationId: kmipDeleteServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kmipDeleteServer'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/kmipDeleteServerOutput'
          description: kmipDeleteServerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Kmip Delete Environment
      x-codegen-request-body-name: body
      summary: Kmip delete server
      x-summary-source: derived
components:
  schemas:
    kmipDeleteServerOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    kmipDeleteServer:
      description: 'kmipDeleteServer is a command that the kmip server

        (allowed only if it has no clients nor associated items)'
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
