openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Verify Pki Cert With Classic Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Verify Pki Cert With Classic Key
paths:
  /verify-pki-cert-with-classic-key:
    post:
      operationId: verifyPKICertWithClassicKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyPKICertWithClassicKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyPKICertOutput'
          description: verifyPKICertWithClassicKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Verify Pki Cert With Classic Key
      x-codegen-request-body-name: body
      summary: Verify PKI cert with classic key
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    verifyPKICertWithClassicKey:
      properties:
        display-id:
          description: The name of the key to use in the verify PKICert process
          type: string
          x-go-name: DisplayId
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        pki-cert:
          description: PkiCert
          type: string
          x-go-name: PkiCert
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: classic key version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - display-id
      - pki-cert
      - version
      title: verifyPKICertWithClassicKey is a command that verifys PKICert by using an Classic key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    verifyPKICertOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
