openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless List Shared Items API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: List Shared Items
paths:
  /list-shared-items:
    post:
      operationId: listSharedItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/listSharedItems'
        required: true
      responses:
        '200':
          content: {}
          description: ''
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - List Shared Items
      x-codegen-request-body-name: body
      summary: List shared items
      x-summary-source: derived
components:
  schemas:
    listSharedItems:
      description: listSharedItems is a command to list all the items been shared
      properties:
        accessibility:
          default: regular
          description: for personal password manager
          type: string
          x-go-name: ItemAccessibilityString
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
