openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Refresh Key API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Refresh Key
paths:
  /refresh-key:
    post:
      operationId: refreshKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refreshKey'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refreshKeyOutput'
          description: refreshKeyResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Refresh Key
      x-codegen-request-body-name: body
      summary: Refresh key
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    refreshKeyOutput:
      example:
        result: result
      properties:
        result:
          type: string
          x-go-name: Result
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    refreshKey:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Key name
          type: string
          x-go-name: KeyName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: refreshKey is a command that refreshes a key.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
