openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Aws Target Details API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Aws Target Details
paths:
  /update-aws-target-details:
    post:
      operationId: updateAWSTargetDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAWSTargetDetails'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateTargetOutput'
          description: updateTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Aws Target Details
      x-codegen-request-body-name: body
      summary: Update AWS target details
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateTargetOutput:
      example:
        updated: true
      properties:
        updated:
          type: boolean
          x-go-name: Updated
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAWSTargetDetails:
      properties:
        access-key:
          type: string
          x-go-name: AWSSecretAccessKey
        access-key-id:
          type: string
          x-go-name: AWSAccessKeyID
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        keep-prev-version:
          type: string
          x-go-name: KeepPrevVersion
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        new-version:
          description: Deprecated
          type: boolean
          x-go-name: NewVersion
        protection_key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        region:
          type: string
          x-go-name: AWSRegion
        session-token:
          type: string
          x-go-name: AWSSessionToken
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: updateAWSTargetDetails is a command that updates an existing target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
