openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Uid Revoke Token API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Uid Revoke Token
paths:
  /uid-revoke-token:
    post:
      operationId: uidRevokeToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uidRevokeToken'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/uidRevokeTokenOutput'
          description: uidRevokeTokenResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Uid Revoke Token
      x-codegen-request-body-name: body
      summary: Uid revoke token
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    uidRevokeTokenOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    uidRevokeToken:
      properties:
        auth-method-name:
          description: The universal identity auth method name
          type: string
          x-go-name: AuthMethodName
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        revoke-token:
          description: the universal identity token/token-id to revoke
          type: string
          x-go-name: RevokeToken
        revoke-type:
          description: 'revokeSelf/revokeAll (delete only this token/this token and his

            children)'
          type: string
          x-go-name: RevokeType
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - revoke-token
      - revoke-type
      title: uidRevokeToken is a command that revokes universal identity token.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
