openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Update Ldap Auth Config API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Update Ldap Auth Config
paths:
  /gateway-update-ldap-auth-config:
    post:
      operationId: GatewayUpdateLdapAuthConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayUpdateLdapAuthConfig'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayUpdateLdapAuthConfigOutput'
          description: GatewayUpdateLdapAuthConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Update Ldap Auth Config
      x-codegen-request-body-name: body
      summary: Gateway update ldap auth config
      x-summary-source: derived
components:
  schemas:
    GatewayUpdateLdapAuthConfigOutput:
      example:
        updated: true
      properties:
        updated:
          type: boolean
          x-go-name: Updated
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    GatewayUpdateLdapAuthConfig:
      description: gatewayUpdateLdapAuth is a command that updates ldap auth config
      example:
        ldap-enable: ldap-enable
        ldap_anonymous_search: true
        access-id: access-id
        user-attribute: user-attribute
        bind-dn-password: bind-dn-password
        uid-token: uid-token
        token: token
        bind-dn: bind-dn
        group-filter: group-filter
        group-dn: group-dn
        ldap-ca-cert: ldap-ca-cert
        user-dn: user-dn
        group-attr: group-attr
        json: true
        signing-key-data: signing-key-data
        ldap-url: ldap-url
      properties:
        access-id:
          description: The access ID of the Ldap auth method
          type: string
          x-go-name: AuthMethodAccessId
        bind-dn:
          description: Bind DN
          type: string
          x-go-name: BindDn
        bind-dn-password:
          description: Bind DN Password
          type: string
          x-go-name: BindDnPassword
        group-attr:
          description: Group Attr
          type: string
          x-go-name: GroupAttr
        group-dn:
          description: Group Dn
          type: string
          x-go-name: GroupDn
        group-filter:
          description: Group Filter
          type: string
          x-go-name: GroupFilter
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        ldap-ca-cert:
          description: LDAP CA Certificate (base64 encoded)
          type: string
          x-go-name: LdapCACert
        ldap-enable:
          description: Enable Ldap
          type: string
          x-go-name: LdapEnable
        ldap-url:
          description: LDAP Server URL, e.g. ldap://planetexpress.com:389
          type: string
          x-go-name: LdapUrlAddress
        ldap_anonymous_search:
          description: Ldap Anonymous Search
          type: boolean
          x-go-name: LdapAnonymousSearch
        signing-key-data:
          description: The private key (base64 encoded), associated with the public key defined in the Ldap auth
          type: string
          x-go-name: AuthMethodSigningKey
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        user-attribute:
          description: User Attribute
          type: string
          x-go-name: UserAttribute
        user-dn:
          description: User DN
          type: string
          x-go-name: UserDn
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
