openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Get Certificate Value API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Get Certificate Value
paths:
  /get-certificate-value:
    post:
      operationId: getCertificateValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getCertificateValue'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCertificateValueOutput'
          description: getCertificateValueResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Get Certificate Value
      x-codegen-request-body-name: body
      summary: Get certificate value
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    GetCertificateValueOutput:
      example:
        certificate_pem: certificate_pem
        private_key_pem: private_key_pem
      properties:
        certificate_pem:
          type: string
          x-go-name: CertificatePem
        private_key_pem:
          type: string
          x-go-name: PrivateKeyPem
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    getCertificateValue:
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Certificate name
          type: string
          x-go-name: CertificateName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        version:
          description: Certificate version
          format: int32
          type: integer
          x-go-name: Version
      required:
      - name
      title: getCertificateValue is a command that gets a certificate value.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
