openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Stop Producer API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Stop Producer
paths:
  /gateway-stop-producer:
    post:
      operationId: gatewayStopProducer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayStopProducer'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gatewayStopProducerOutput'
          description: gatewayStopProducerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Stop Producer
      x-codegen-request-body-name: body
      summary: Gateway stop producer
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    gatewayStopProducerOutput:
      example:
        producer_name: producer_name
      properties:
        producer_name:
          type: string
          x-go-name: ProducerName
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    gatewayStopProducer:
      description: gatewayStopProducer is a command that stops producer
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Producer name
          type: string
          x-go-name: ProducerName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
