openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Get Rsa Public API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Get Rsa Public
paths:
  /get-rsa-public:
    post:
      operationId: getRSAPublic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRSAPublic'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRSAPublicOutput'
          description: getRSAPublicResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Get Rsa Public
      x-codegen-request-body-name: body
      summary: Get RSA public
      x-summary-source: derived
components:
  schemas:
    getRSAPublicOutput:
      example:
        pem: pem
        raw: raw
        ssh: ssh
      properties:
        pem:
          type: string
          x-go-name: PEM
        raw:
          type: string
          x-go-name: Raw
        ssh:
          type: string
          x-go-name: SSH
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    getRSAPublic:
      description: 'getRSAPublic is a command that obtains the public key from a specific RSA

        private key.'
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Name of RSA key to extract the public key from
          type: string
          x-go-name: KeyName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
