openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Delete Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Delete Target
paths:
  /delete-target:
    post:
      operationId: deleteTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteTargetOutput'
          description: deleteTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Delete Target
      x-codegen-request-body-name: body
      summary: Delete target
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    deleteTargetOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    deleteTarget:
      properties:
        force-deletion:
          default: false
          description: Enforce deletion
          type: boolean
          x-go-name: ForceDeletion
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        target-version:
          description: Target version
          format: int32
          type: integer
          x-go-name: TargetVersion
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      title: deleteTarget is a command that deletes a target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
