openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Azure Target API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Azure Target
paths:
  /update-azure-target:
    post:
      operationId: updateAzureTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAzureTarget'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAzureTargetOutput'
          description: updateAzureTargetResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Azure Target
      x-codegen-request-body-name: body
      summary: Update azure target
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateAzureTargetOutput:
      example:
        target_id: 0
      properties:
        target_id:
          format: int64
          type: integer
          x-go-name: TargetID
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAzureTarget:
      properties:
        client-id:
          type: string
          x-go-name: AzureClientID
        client-secret:
          type: string
          x-go-name: AzureClientSecret
        comment:
          description: Deprecated - use description
          type: string
          x-go-name: Comment
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        keep-prev-version:
          type: string
          x-go-name: KeepPrevVersion
        key:
          description: 'The name of a key that used to encrypt the target secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        name:
          description: Target name
          type: string
          x-go-name: TargetName
        new-name:
          description: New target name
          type: string
          x-go-name: NewTargetName
        resource-group-name:
          description: The Resource Group name in your Azure subscription
          type: string
          x-go-name: AzureResourceGroupName
        resource-name:
          description: The name of the relevant Resource
          type: string
          x-go-name: AzureResourceName
        subscription-id:
          description: Azure Subscription Id
          type: string
          x-go-name: AzureSubscriptionId
        tenant-id:
          type: string
          x-go-name: AzureTenantID
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        update-version:
          description: Deprecated
          type: boolean
          x-go-name: CreateNewVersion
        use-gw-cloud-identity:
          type: boolean
          x-go-name: AzureUseDefaultIdentity
      required:
      - name
      title: updateAzureTarget is a command that updates an existing target.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
