openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Auth Method Universal Identity API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Auth Method Universal Identity
paths:
  /update-auth-method-universal-identity:
    post:
      operationId: updateAuthMethodUniversalIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAuthMethodUniversalIdentity'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAuthMethodUniversalIdentityOutput'
          description: updateAuthMethodUniversalIdentityResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Auth Method Universal Identity
      x-codegen-request-body-name: body
      summary: Update auth method universal identity
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    updateAuthMethodUniversalIdentity:
      description: 'updateAuthMethodUniversalIdentity is a command that updates a new auth

        method that will be able to authenticate using Akeyless Universal Identity.'
      properties:
        access-expires:
          default: 0
          description: 'Access expiration date in Unix timestamp (select 0 for access without

            expiry date)'
          format: int64
          type: integer
          x-go-name: AccessExpires
        bound-ips:
          description: A CIDR whitelist with the IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: CIDRWhitelist
        deny-inheritance:
          description: Deny from root to create children
          type: boolean
          x-go-name: BoundDenyInheritance
        deny-rotate:
          description: Deny from the token to rotate
          type: boolean
          x-go-name: BoundDenyRotate
        force-sub-claims:
          description: 'if true: enforce role-association must include sub claims'
          type: boolean
          x-go-name: ForceSubClaims
        gw-bound-ips:
          description: A CIDR whitelist with the GW IPs that the access is restricted to
          items:
            type: string
          type: array
          x-go-name: GWCIDRWhitelist
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        jwt-ttl:
          description: Jwt TTL
          format: int64
          type: integer
          x-go-name: JwtTtl
        name:
          description: Auth Method name
          type: string
          x-go-name: AuthMethodName
        new-name:
          description: Auth Method new name
          type: string
          x-go-name: AuthMethodNewName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        ttl:
          default: 60
          description: Token ttl
          format: int32
          type: integer
          x-go-name: BoundTTL
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateAuthMethodUniversalIdentityOutput:
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
