openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Create Secret API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Create Secret
paths:
  /create-secret:
    post:
      operationId: createSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSecret'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSecretOutput'
          description: createSecretResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Create Secret
      x-codegen-request-body-name: body
      summary: Create secret
      x-summary-source: derived
components:
  schemas:
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    CreateSecretOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    createSecret:
      properties:
        accessibility:
          default: regular
          description: for personal password manager
          type: string
          x-go-name: ItemAccessibilityString
        delete_protection:
          description: Protection from accidental deletion of this item
          type: string
          x-go-name: ItemProtected
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        multiline_value:
          description: The provided value is a multiline value (separated by '\n')
          type: boolean
          x-go-name: MultilineValue
        name:
          description: Secret name
          type: string
          x-go-name: SecretName
        password-manager-custom-field:
          additionalProperties:
            type: string
          description: For Password Management use, additional fields
          type: object
          x-go-name: CustomFields
        password-manager-inject-url:
          description: For Password Management use, reflect the website context
          items:
            type: string
          type: array
          x-go-name: Websites
        password-manager-password:
          description: For Password Management use, additional fields
          type: string
          x-go-name: Password
        password-manager-username:
          description: For Password Management use
          type: string
          x-go-name: Username
        protection_key:
          description: 'The name of a key that used to encrypt the secret value (if empty, the

            account default protectionKey key will be used)'
          type: string
          x-go-name: ProtectionKey
        secure-access-bastion-issuer:
          type: string
          x-go-name: SecureAccessBastionIssuer
        secure-access-enable:
          type: string
          x-go-name: SecureAccessEnabled
        secure-access-host:
          items:
            type: string
          type: array
          x-go-name: SecureAccessHost
        secure-access-ssh-creds:
          type: string
          x-go-name: SecureAccessSSHCategory
        secure-access-ssh-user:
          type: string
          x-go-name: SecureAccessSSHUser
        secure-access-url:
          type: string
          x-go-name: SecureAccessURL
        secure-access-web-browsing:
          type: boolean
          x-go-name: SecureAccessIsolated
        secure-access-web-proxy:
          type: boolean
          x-go-name: SecureAccessWebProxy
        tags:
          description: List of the tags attached to this secret
          items:
            type: string
          type: array
          x-go-name: Tags
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        type:
          description: For Password Management use, reflect the website context
          type: string
          x-go-name: SecretType
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
        value:
          description: The secret value
          type: string
          x-go-name: Value
      required:
      - name
      - value
      title: createSecret is a command that creates a static secret.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
