openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Update Ssh Cert Issuer API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Update Ssh Cert Issuer
paths:
  /update-ssh-cert-issuer:
    post:
      operationId: updateSSHCertIssuer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSSHCertIssuer'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateSSHCertIssuerOutput'
          description: updateSSHCertIssuerResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Update Ssh Cert Issuer
      x-codegen-request-body-name: body
      summary: Update SSH cert issuer
      x-summary-source: derived
components:
  schemas:
    updateSSHCertIssuerOutput:
      example:
        name: name
      properties:
        name:
          type: string
          x-go-name: Name
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    updateSSHCertIssuer:
      properties:
        add-tag:
          description: List of the new tags that will be attached to this item
          items:
            type: string
          type: array
          x-go-name: AddTags
        allowed-users:
          description: Users allowed to fetch the certificate, e.g root,ubuntu
          type: string
          x-go-name: AllowedUsers
        description:
          description: Description of the object
          type: string
          x-go-name: Description
        extensions:
          additionalProperties:
            type: string
          description: Signed certificates with extensions, e.g permit-port-forwarding=\"\"
          type: object
          x-go-name: Extensions
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        metadata:
          description: Deprecated - use description
          type: string
          x-go-name: Metadata
        name:
          description: SSH certificate issuer name
          type: string
          x-go-name: IssuerName
        new-name:
          description: New item name
          type: string
          x-go-name: NewName
        principals:
          description: Signed certificates with principal, e.g example_role1,example_role2
          type: string
          x-go-name: Principals
        rm-tag:
          description: List of the existent tags that will be removed from this item
          items:
            type: string
          type: array
          x-go-name: RemoveTags
        secure-access-bastion-api:
          type: string
          x-go-name: SecureAccessBastionAPI
        secure-access-bastion-ssh:
          type: string
          x-go-name: SecureAccessBastionSSH
        secure-access-enable:
          type: string
          x-go-name: SecureAccessEnabled
        secure-access-host:
          items:
            type: string
          type: array
          x-go-name: SecureAccessHost
        secure-access-ssh-creds-user:
          type: string
          x-go-name: SecureAccessSSHUser
        secure-access-use-internal-bastion:
          type: boolean
          x-go-name: SecureAccessUseInternalBastion
        signer-key-name:
          description: A key to sign the certificate with
          type: string
          x-go-name: SignerKeyName
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        ttl:
          description: he requested Time To Live for the certificate, in seconds
          format: int64
          type: integer
          x-go-name: TTL
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      required:
      - allowed-users
      - name
      - signer-key-name
      - ttl
      title: updateSSHCertIssuer is a command that updates a new SSH certificate issuer.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
