openapi: 3.2.0
info:
  contact:
    email: support@akeyless.io
    name: Akeyless
    url: http://akeyless.io
  description: The purpose of this application is to provide access to Akeyless API.
  title: Akeyless Gateway Get Config API
  version: '2.0'
servers:
- url: https://api.akeyless.io/
tags:
- name: Gateway Get Config
paths:
  /gateway-get-config:
    post:
      operationId: gatewayGetConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gatewayGetConfig'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AkeylessGatewayConfig'
          description: gatewayGetConfigResponse wraps response body.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONError'
          description: 'errorResponse wraps any error to return it as a JSON object with one "error"

            field.'
      tags:
      - Gateway Get Config
      x-codegen-request-body-name: body
      summary: Gateway get config
      x-summary-source: derived
components:
  schemas:
    KMIPServer:
      example:
        hostname: hostname
        root: root
        certificate:
        - 3
        - 3
        active: true
        certificate_issue_date: 2000-01-23 04:56:07+00:00
        ca:
        - 9
        - 9
        certificate_ttl_in_seconds: 2
      properties:
        active:
          type: boolean
          x-go-name: Active
        ca:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: CA
        certificate:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: Certificate
        certificate_issue_date:
          format: date-time
          type: string
          x-go-name: CertificateIssueDate
        certificate_ttl_in_seconds:
          format: int64
          type: integer
          x-go-name: CertificateTTLInSeconds
        hostname:
          type: string
          x-go-name: Hostname
        root:
          type: string
          x-go-name: Root
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    Producer:
      example:
        init: true
        name: name
        active: true
        failure_message: failure_message
        id: 4
        type: type
      properties:
        active:
          type: boolean
          x-go-name: Active
        failure_message:
          type: string
          x-go-name: FailureMessage
        id:
          format: int64
          type: integer
          x-go-name: Id
        init:
          type: boolean
          x-go-name: Init
        name:
          type: string
          x-go-name: Name
        type:
          type: string
          x-go-name: Type
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    K8SAuthsConfigPart:
      example:
        k8s_auths:
        - k8s_ca_cert: k8s_ca_cert
          k8s_host: k8s_host
          k8s_token_reviewer_jwt: k8s_token_reviewer_jwt
          cluster_api_type: cluster_api_type
          k8s_issuer: k8s_issuer
          protection_key: protection_key
          auth_method_access_id: auth_method_access_id
          k8s_pub_keys_pem:
          - k8s_pub_keys_pem
          - k8s_pub_keys_pem
          rancher_api_key: rancher_api_key
          am_token_expiration: 0
          name: name
          auth_method_prv_key_pem: auth_method_prv_key_pem
          disable_iss_validation: true
          id: id
          rancher_cluster_id: rancher_cluster_id
          use_local_ca_jwt: true
        - k8s_ca_cert: k8s_ca_cert
          k8s_host: k8s_host
          k8s_token_reviewer_jwt: k8s_token_reviewer_jwt
          cluster_api_type: cluster_api_type
          k8s_issuer: k8s_issuer
          protection_key: protection_key
          auth_method_access_id: auth_method_access_id
          k8s_pub_keys_pem:
          - k8s_pub_keys_pem
          - k8s_pub_keys_pem
          rancher_api_key: rancher_api_key
          am_token_expiration: 0
          name: name
          auth_method_prv_key_pem: auth_method_prv_key_pem
          disable_iss_validation: true
          id: id
          rancher_cluster_id: rancher_cluster_id
          use_local_ca_jwt: true
      properties:
        k8s_auths:
          items:
            $ref: '#/components/schemas/K8SAuth'
          type: array
          x-go-name: K8SAuths
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    RotatorsConfigPart:
      example:
        rotators:
        - rotation_interval: 9
          name: name
          id: 5
          last_error: last_error
          type: type
        - rotation_interval: 9
          name: name
          id: 5
          last_error: last_error
          type: type
      properties:
        rotators:
          items:
            $ref: '#/components/schemas/Rotator'
          type: array
          x-go-name: Rotators
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    SplunkLogForwardingConfig:
      example:
        splunk_token: splunk_token
        splunk_source: splunk_source
        splunk_index: splunk_index
        splunk_sourcetype: splunk_sourcetype
        splunk_url: splunk_url
      properties:
        splunk_index:
          type: string
          x-go-name: SplunkIndex
        splunk_source:
          type: string
          x-go-name: SplunkSource
        splunk_sourcetype:
          type: string
          x-go-name: SplunkSourcetype
        splunk_token:
          type: string
          x-go-name: SplunkToken
        splunk_url:
          type: string
          x-go-name: SplunkUrl
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    GeneralConfigPart:
      example:
        tcp_port: tcp_port
        api_token_ttl: api_token_ttl
        gw_cluster_url: gw_cluster_url
        enable_tls: true
        enable_tls_curl: true
        tls_key: tls_key
        enable_tls_configure: true
        enable_tls_hvp: true
        tls_cert: tls_cert
        akeyless_url: akeyless_url
        display_name: display_name
      properties:
        akeyless_url:
          description: 'AkeylessUrl is here for BC only. Gator will still return it if it exists in

            the configuration, but new clients (>=2.34.0) will ignore it and override it with what exists in

            their local file.

            It will no longer be sent to Gator for update, so new clusters will only have

            the default value saved in the DB.'
          type: string
          x-go-name: AkeylessUrl
        api_token_ttl:
          type: string
          x-go-name: ApiTokenTtl
        display_name:
          type: string
          x-go-name: DisplayName
        enable_tls:
          type: boolean
          x-go-name: EnableTLS
        enable_tls_configure:
          type: boolean
          x-go-name: EnableTLSConfig
        enable_tls_curl:
          type: boolean
          x-go-name: EnableTLSCurl
        enable_tls_hvp:
          type: boolean
          x-go-name: EnableTLSHpv
        gw_cluster_url:
          type: string
          x-go-name: GwClusterUrl
        tcp_port:
          type: string
          x-go-name: TcpPort
        tls_cert:
          type: string
          x-go-name: TLSCert
        tls_key:
          type: string
          x-go-name: TLSKey
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    GatewayMessageQueueInfo:
      example:
        queue_name: queue_name
        queue_url: queue_url
        mq_type: mq_type
      properties:
        mq_type:
          type: string
          x-go-name: MQType
        queue_name:
          type: string
          x-go-name: QueueName
        queue_url:
          type: string
          x-go-name: QueueURL
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    MockPayload:
      example:
        vaults:
        - vaults
        - vaults
      properties:
        vaults:
          items:
            type: string
          type: array
          x-go-name: Vaults
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    KMIPConfigPart:
      example:
        key_enc:
        - 7
        - 7
        server:
          hostname: hostname
          root: root
          certificate:
          - 3
          - 3
          active: true
          certificate_issue_date: 2000-01-23 04:56:07+00:00
          ca:
          - 9
          - 9
          certificate_ttl_in_seconds: 2
        server_enc:
        - 4
        - 4
        clients:
          key:
            name: name
            certificate_issue_date: 2000-01-23 04:56:07+00:00
            rules:
            - path: path
              start_time: 5
              capabilities:
              - capabilities
              - capabilities
              number_of_allowed_access: 5
              is_limit_access: true
              assigners:
              - unique_id: unique_id
                access_id: access_id
              - unique_id: unique_id
                access_id: access_id
              number_of_access_used: 1
              type: type
              ttl: 2
            - path: path
              start_time: 5
              capabilities:
              - capabilities
              - capabilities
              number_of_allowed_access: 5
              is_limit_access: true
              assigners:
              - unique_id: unique_id
                access_id: access_id
              - unique_id: unique_id
                access_id: access_id
              number_of_access_used: 1
              type: type
              ttl: 2
            id: id
            activate_keys_on_creation: true
            certificate_ttl_in_seconds: 6
      properties:
        clients:
          additionalProperties:
            $ref: '#/components/schemas/KMIPClient'
          type: object
          x-go-name: Clients
        key_enc:
          description: Saves the private key of the cert issuer in encypted form
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: KeyEnc
        server:
          $ref: '#/components/schemas/KMIPServer'
        server_enc:
          description: 'Saved for backward compatibility

            TODO: remove this after all clients upgrade'
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: ServerEnc
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzureKeyVaultMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          name: name
          client: client
          secret: secret
          tenant: tenant
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/AzurePayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    LeadershipConfigPart:
      example:
        open_leadership:
        - 7
        - 7
      properties:
        open_leadership:
          items:
            format: uint32
            type: integer
          type: array
          x-go-name: OpenLeadership
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AWSPayload:
      example:
        secret: secret
        region: region
        key: key
      properties:
        key:
          type: string
          x-go-name: Key
        region:
          type: string
          x-go-name: Region
        secret:
          type: string
          x-go-name: Secret
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AllowedAccess:
      example:
        sub_claims:
          key:
          - sub_claims
          - sub_claims
        allowed_api: true
        alloweds_login: true
        err_msg: err_msg
        is_valid: true
        name: name
        access_rules_type: access_rules_type
        acc_id: acc_id
        hash: hash
      properties:
        acc_id:
          type: string
          x-go-name: AccId
        access_rules_type:
          type: string
          x-go-name: AccessRulesType
        allowed_api:
          type: boolean
          x-go-name: AllowedApi
        alloweds_login:
          type: boolean
          x-go-name: AllowedsLogin
        err_msg:
          type: string
          x-go-name: ErrMsg
        hash:
          type: string
          x-go-name: Hash
        is_valid:
          type: boolean
          x-go-name: IsValid
        name:
          type: string
          x-go-name: Name
        sub_claims:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-go-name: SubClaims
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AkeylessGatewayConfig:
      example:
        k8s_auths:
          k8s_auths:
          - k8s_ca_cert: k8s_ca_cert
            k8s_host: k8s_host
            k8s_token_reviewer_jwt: k8s_token_reviewer_jwt
            cluster_api_type: cluster_api_type
            k8s_issuer: k8s_issuer
            protection_key: protection_key
            auth_method_access_id: auth_method_access_id
            k8s_pub_keys_pem:
            - k8s_pub_keys_pem
            - k8s_pub_keys_pem
            rancher_api_key: rancher_api_key
            am_token_expiration: 0
            name: name
            auth_method_prv_key_pem: auth_method_prv_key_pem
            disable_iss_validation: true
            id: id
            rancher_cluster_id: rancher_cluster_id
            use_local_ca_jwt: true
          - k8s_ca_cert: k8s_ca_cert
            k8s_host: k8s_host
            k8s_token_reviewer_jwt: k8s_token_reviewer_jwt
            cluster_api_type: cluster_api_type
            k8s_issuer: k8s_issuer
            protection_key: protection_key
            auth_method_access_id: auth_method_access_id
            k8s_pub_keys_pem:
            - k8s_pub_keys_pem
            - k8s_pub_keys_pem
            rancher_api_key: rancher_api_key
            am_token_expiration: 0
            name: name
            auth_method_prv_key_pem: auth_method_prv_key_pem
            disable_iss_validation: true
            id: id
            rancher_cluster_id: rancher_cluster_id
            use_local_ca_jwt: true
        message_queue_info:
          queue_name: queue_name
          queue_url: queue_url
          mq_type: mq_type
        cache:
          proactive_cache_enable: true
          proactive_cache_dump_interval: proactive_cache_dump_interval
          cache_ttl: cache_ttl
          cache_enable: true
          proactive_cache_minimum_fetching_time: proactive_cache_minimum_fetching_time
        cf:
          customer_fragements:
            key: customer_fragements
        version: 6
        producers:
          producers:
          - init: true
            name: name
            active: true
            failure_message: failure_message
            id: 4
            type: type
          - init: true
            name: name
            active: true
            failure_message: failure_message
            id: 4
            type: type
        general:
          tcp_port: tcp_port
          api_token_ttl: api_token_ttl
          gw_cluster_url: gw_cluster_url
          enable_tls: true
          enable_tls_curl: true
          tls_key: tls_key
          enable_tls_configure: true
          enable_tls_hvp: true
          tls_cert: tls_cert
          akeyless_url: akeyless_url
          display_name: display_name
        ldap:
          ldap_anonymous_search: true
          ldap_cert: ldap_cert
          ldap_bind_password: ldap_bind_password
          ldap_group_dn: ldap_group_dn
          ldap_group_filter: ldap_group_filter
          ldap_user_dn: ldap_user_dn
          ldap_group_attr: ldap_group_attr
          ldap_access_id: ldap_access_id
          ldap_enable: true
          ldap_private_key: ldap_private_key
          ldap_bind_dn: ldap_bind_dn
          ldap_url: ldap_url
          ldap_token_expiration: ldap_token_expiration
          ldap_user_attr: ldap_user_attr
        migrations:
          hashi_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              import_as_json: true
              url: url
              namespaces:
              - namespaces
              - namespaces
              token: token
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              import_as_json: true
              url: url
              namespaces:
              - namespaces
              - namespaces
              token: token
          azure_kv_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              name: name
              client: client
              secret: secret
              tenant: tenant
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              name: name
              client: client
              secret: secret
              tenant: tenant
          k8s_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              client_key:
              - 1
              - 1
              server: server
              password: password
              client_cert:
              - 7
              - 7
              namespace: namespace
              ca:
              - 6
              - 6
              skip_system: true
              token: token
              username: username
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              client_key:
              - 1
              - 1
              server: server
              password: password
              client_cert:
              - 7
              - 7
              namespace: namespace
              ca:
              - 6
              - 6
              skip_system: true
              token: token
              username: username
          aws_secrets_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              secret: secret
              region: region
              key: key
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              secret: secret
              region: region
              key: key
          mock_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              vaults:
              - vaults
              - vaults
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              vaults:
              - vaults
              - vaults
          one_password_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              secret_key: secret_key
              password: password
              vaults:
              - vaults
              - vaults
              email: email
              url: url
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              secret_key: secret_key
              password: password
              vaults:
              - vaults
              - vaults
              email: email
              url: url
          active_directory_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              auto_rotate: true
              ssh_port: ssh_port
              discover_local_users: true
              auto_rotate_interval_in_days: 1
              active_directory_target_id: 1
              local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
              auto_rotate_rotation_hour: 1
              domain_name: domain_name
              enable_rdp_sra: true
              domain_server_targets_path_template: domain_server_targets_path_template
              user_base_dn: user_base_dn
              computer_base_dn: computer_base_dn
              domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
              local_users_ignore_list:
                key: true
              user_groups:
              - user_groups
              - user_groups
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              auto_rotate: true
              ssh_port: ssh_port
              discover_local_users: true
              auto_rotate_interval_in_days: 1
              active_directory_target_id: 1
              local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
              auto_rotate_rotation_hour: 1
              domain_name: domain_name
              enable_rdp_sra: true
              domain_server_targets_path_template: domain_server_targets_path_template
              user_base_dn: user_base_dn
              computer_base_dn: computer_base_dn
              domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
              local_users_ignore_list:
                key: true
              user_groups:
              - user_groups
              - user_groups
          gcp_secrets_migrations:
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              gcp_credentials_json: gcp_credentials_json
          - general:
              prefix: prefix
              name: name
              id: id
              type: type
              protection_key: protection_key
              new_name: new_name
              status: status
            payload:
              gcp_credentials_json: gcp_credentials_json
        leadership:
          open_leadership:
          - 7
          - 7
        log_forwarding:
          aws_s3_config:
            aws_access_id: aws_access_id
            aws_region: aws_region
            aws_use_gateway_cloud_identity: true
            aws_access_key: aws_access_key
            bucket_name: bucket_name
            log_folder: log_folder
          logan_url: logan_url
          json_output: true
          azure_analytics_config:
            azure_workspace_key: azure_workspace_key
            azure_workspace_id: azure_workspace_id
          splunk_config:
            splunk_token: splunk_token
            splunk_source: splunk_source
            splunk_index: splunk_index
            splunk_sourcetype: splunk_sourcetype
            splunk_url: splunk_url
          logstash_config:
            logstash_protocol: logstash_protocol
            logstash_dns: logstash_dns
          logan_enable: true
          logz_io_config:
            target_logz_io_protocol: target_logz_io_protocol
            target_logz_io_token: target_logz_io_token
          syslog_config:
            syslog_host: syslog_host
            syslog_target_tag: syslog_target_tag
            syslog_formatter: syslog_formatter
            syslog_network: syslog_network
          target_log_type: target_log_type
          datadog_config:
            datadog_log_source: datadog_log_source
            datadog_log_service: datadog_log_service
            datadog_log_tags: datadog_log_tags
            datadog_host: datadog_host
            datadog_api_key: datadog_api_key
          pull_interval_sec: pull_interval_sec
          elasticsearch_config:
            elasticsearch_index: elasticsearch_index
            elasticsearch_server_type: elasticsearch_server_type
            elasticsearch_user_name: elasticsearch_user_name
            elasticsearch_api_key: elasticsearch_api_key
            elasticsearch_password: elasticsearch_password
            elasticsearch_cloud_id: elasticsearch_cloud_id
            elasticsearch_auth_type: elasticsearch_auth_type
            elasticsearch_nodes: elasticsearch_nodes
        saml:
          saml_access_id: saml_access_id
          default_protection_key_id: 9
          oidc_access_id: oidc_access_id
          default_secret_location: default_secret_location
        kmip_clients:
          key_enc:
          - 7
          - 7
          server:
            hostname: hostname
            root: root
            certificate:
            - 3
            - 3
            active: true
            certificate_issue_date: 2000-01-23 04:56:07+00:00
            ca:
            - 9
            - 9
            certificate_ttl_in_seconds: 2
          server_enc:
          - 4
          - 4
          clients:
            key:
              name: name
              certificate_issue_date: 2000-01-23 04:56:07+00:00
              rules:
              - path: path
                start_time: 5
                capabilities:
                - capabilities
                - capabilities
                number_of_allowed_access: 5
                is_limit_access: true
                assigners:
                - unique_id: unique_id
                  access_id: access_id
                - unique_id: unique_id
                  access_id: access_id
                number_of_access_used: 1
                type: type
                ttl: 2
              - path: path
                start_time: 5
                capabilities:
                - capabilities
                - capabilities
                number_of_allowed_access: 5
                is_limit_access: true
                assigners:
                - unique_id: unique_id
                  access_id: access_id
                - unique_id: unique_id
                  access_id: access_id
                number_of_access_used: 1
                type: type
                ttl: 2
              id: id
              activate_keys_on_creation: true
              certificate_ttl_in_seconds: 6
        config_protection_key_name: config_protection_key_name
        admins:
          allowed_access:
            key:
              sub_claims:
                key:
                - sub_claims
                - sub_claims
              allowed_api: true
              alloweds_login: true
              err_msg: err_msg
              is_valid: true
              name: name
              access_rules_type: access_rules_type
              acc_id: acc_id
              hash: hash
        rotators:
          rotators:
          - rotation_interval: 9
            name: name
            id: 5
            last_error: last_error
            type: type
          - rotation_interval: 9
            name: name
            id: 5
            last_error: last_error
            type: type
      properties:
        admins:
          $ref: '#/components/schemas/AdminsConfigPart'
        cache:
          $ref: '#/components/schemas/CacheConfigPart'
        cf:
          $ref: '#/components/schemas/CFConfigPart'
        config_protection_key_name:
          type: string
          x-go-name: ConfigProtectionKeyName
        general:
          $ref: '#/components/schemas/GeneralConfigPart'
        k8s_auths:
          $ref: '#/components/schemas/K8SAuthsConfigPart'
        kmip_clients:
          $ref: '#/components/schemas/KMIPConfigPart'
        ldap:
          $ref: '#/components/schemas/LdapConfigPart'
        leadership:
          $ref: '#/components/schemas/LeadershipConfigPart'
        log_forwarding:
          $ref: '#/components/schemas/LogForwardingConfigPart'
        message_queue_info:
          $ref: '#/components/schemas/GatewayMessageQueueInfo'
        migrations:
          $ref: '#/components/schemas/MigrationsConfigPart'
        producers:
          $ref: '#/components/schemas/ProducersConfigPart'
        rotators:
          $ref: '#/components/schemas/RotatorsConfigPart'
        saml:
          $ref: '#/components/schemas/DefaultConfigPart'
        version:
          format: uint64
          type: integer
          x-go-name: Version
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    CacheConfigPart:
      example:
        proactive_cache_enable: true
        proactive_cache_dump_interval: proactive_cache_dump_interval
        cache_ttl: cache_ttl
        cache_enable: true
        proactive_cache_minimum_fetching_time: proactive_cache_minimum_fetching_time
      properties:
        cache_enable:
          type: boolean
          x-go-name: CacheEnable
        cache_ttl:
          type: string
          x-go-name: CacheTTL
        proactive_cache_dump_interval:
          type: string
          x-go-name: ProActiveCacheDumpInterval
        proactive_cache_enable:
          type: boolean
          x-go-name: ProActiveCacheEnable
        proactive_cache_minimum_fetching_time:
          type: string
          x-go-name: ProActiveCacheMinimumFetchingTime
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    MigrationsConfigPart:
      example:
        hashi_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            import_as_json: true
            url: url
            namespaces:
            - namespaces
            - namespaces
            token: token
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            import_as_json: true
            url: url
            namespaces:
            - namespaces
            - namespaces
            token: token
        azure_kv_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            name: name
            client: client
            secret: secret
            tenant: tenant
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            name: name
            client: client
            secret: secret
            tenant: tenant
        k8s_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            client_key:
            - 1
            - 1
            server: server
            password: password
            client_cert:
            - 7
            - 7
            namespace: namespace
            ca:
            - 6
            - 6
            skip_system: true
            token: token
            username: username
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            client_key:
            - 1
            - 1
            server: server
            password: password
            client_cert:
            - 7
            - 7
            namespace: namespace
            ca:
            - 6
            - 6
            skip_system: true
            token: token
            username: username
        aws_secrets_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            secret: secret
            region: region
            key: key
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            secret: secret
            region: region
            key: key
        mock_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            vaults:
            - vaults
            - vaults
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            vaults:
            - vaults
            - vaults
        one_password_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            secret_key: secret_key
            password: password
            vaults:
            - vaults
            - vaults
            email: email
            url: url
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            secret_key: secret_key
            password: password
            vaults:
            - vaults
            - vaults
            email: email
            url: url
        active_directory_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            auto_rotate: true
            ssh_port: ssh_port
            discover_local_users: true
            auto_rotate_interval_in_days: 1
            active_directory_target_id: 1
            local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
            auto_rotate_rotation_hour: 1
            domain_name: domain_name
            enable_rdp_sra: true
            domain_server_targets_path_template: domain_server_targets_path_template
            user_base_dn: user_base_dn
            computer_base_dn: computer_base_dn
            domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
            local_users_ignore_list:
              key: true
            user_groups:
            - user_groups
            - user_groups
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            auto_rotate: true
            ssh_port: ssh_port
            discover_local_users: true
            auto_rotate_interval_in_days: 1
            active_directory_target_id: 1
            local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
            auto_rotate_rotation_hour: 1
            domain_name: domain_name
            enable_rdp_sra: true
            domain_server_targets_path_template: domain_server_targets_path_template
            user_base_dn: user_base_dn
            computer_base_dn: computer_base_dn
            domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
            local_users_ignore_list:
              key: true
            user_groups:
            - user_groups
            - user_groups
        gcp_secrets_migrations:
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            gcp_credentials_json: gcp_credentials_json
        - general:
            prefix: prefix
            name: name
            id: id
            type: type
            protection_key: protection_key
            new_name: new_name
            status: status
          payload:
            gcp_credentials_json: gcp_credentials_json
      properties:
        active_directory_migrations:
          items:
            $ref: '#/components/schemas/ActiveDirectoryMigration'
          type: array
          x-go-name: ActiveDirectoryMigrations
        aws_secrets_migrations:
          items:
            $ref: '#/components/schemas/AWSSecretsMigration'
          type: array
          x-go-name: AWSSecretsMigrations
        azure_kv_migrations:
          items:
            $ref: '#/components/schemas/AzureKeyVaultMigration'
          type: array
          x-go-name: AzureKVMigrations
        gcp_secrets_migrations:
          items:
            $ref: '#/components/schemas/GCPSecretsMigration'
          type: array
          x-go-name: GCPSecretsMigrations
        hashi_migrations:
          items:
            $ref: '#/components/schemas/HashiMigration'
          type: array
          x-go-name: HashiMigrations
        k8s_migrations:
          items:
            $ref: '#/components/schemas/K8SMigration'
          type: array
          x-go-name: K8SMigrations
        mock_migrations:
          items:
            $ref: '#/components/schemas/MockMigration'
          type: array
          x-go-name: MockMigrations
        one_password_migrations:
          items:
            $ref: '#/components/schemas/OnePasswordMigration'
          type: array
          x-go-name: OnePasswordMigrations
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    LogstashLogForwardingConfig:
      example:
        logstash_protocol: logstash_protocol
        logstash_dns: logstash_dns
      properties:
        logstash_dns:
          type: string
          x-go-name: LogstashDns
        logstash_protocol:
          type: string
          x-go-name: LogstashProtocol
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ActiveDirectoryMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          auto_rotate: true
          ssh_port: ssh_port
          discover_local_users: true
          auto_rotate_interval_in_days: 1
          active_directory_target_id: 1
          local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
          auto_rotate_rotation_hour: 1
          domain_name: domain_name
          enable_rdp_sra: true
          domain_server_targets_path_template: domain_server_targets_path_template
          user_base_dn: user_base_dn
          computer_base_dn: computer_base_dn
          domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
          local_users_ignore_list:
            key: true
          user_groups:
          - user_groups
          - user_groups
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/ActiveDirectoryPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AdminsConfigPart:
      example:
        allowed_access:
          key:
            sub_claims:
              key:
              - sub_claims
              - sub_claims
            allowed_api: true
            alloweds_login: true
            err_msg: err_msg
            is_valid: true
            name: name
            access_rules_type: access_rules_type
            acc_id: acc_id
            hash: hash
      properties:
        allowed_access:
          additionalProperties:
            $ref: '#/components/schemas/AllowedAccess'
          type: object
          x-go-name: Allowed
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    gatewayGetConfig:
      description: gatewayGetConfig is a command that returns gateway configuration
      properties:
        json:
          description: Set output format to JSON
          type: boolean
          x-go-name: Json
        token:
          description: Authentication token (see `/auth` and `/configure`)
          type: string
          x-go-name: Profile
        uid-token:
          description: The universal identity token, Required only for universal_identity authentication
          type: string
          x-go-name: UIDToken
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client/commands
    K8SMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          client_key:
          - 1
          - 1
          server: server
          password: password
          client_cert:
          - 7
          - 7
          namespace: namespace
          ca:
          - 6
          - 6
          skip_system: true
          token: token
          username: username
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/K8SPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzureLogAnalyticsForwardingConfig:
      example:
        azure_workspace_key: azure_workspace_key
        azure_workspace_id: azure_workspace_id
      properties:
        azure_workspace_id:
          type: string
          x-go-name: AzureWorkspaceId
        azure_workspace_key:
          type: string
          x-go-name: AzureWorkspaceKey
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    OnePasswordMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          secret_key: secret_key
          password: password
          vaults:
          - vaults
          - vaults
          email: email
          url: url
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/OnePasswordPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AwsS3LogForwardingConfig:
      example:
        aws_access_id: aws_access_id
        aws_region: aws_region
        aws_use_gateway_cloud_identity: true
        aws_access_key: aws_access_key
        bucket_name: bucket_name
        log_folder: log_folder
      properties:
        aws_access_id:
          type: string
          x-go-name: AwsAccessId
        aws_access_key:
          type: string
          x-go-name: AwsAccessKey
        aws_region:
          type: string
          x-go-name: AwsRegion
        aws_use_gateway_cloud_identity:
          type: boolean
          x-go-name: AwsUseGatewayCloudIdentity
        bucket_name:
          type: string
          x-go-name: BucketName
        log_folder:
          type: string
          x-go-name: LogFolder
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    MockMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          vaults:
          - vaults
          - vaults
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/MockPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    OnePasswordPayload:
      example:
        secret_key: secret_key
        password: password
        vaults:
        - vaults
        - vaults
        email: email
        url: url
      properties:
        email:
          type: string
          x-go-name: Email
        password:
          type: string
          x-go-name: Password
        secret_key:
          type: string
          x-go-name: SecretKey
        url:
          type: string
          x-go-name: AccountUrl
        vaults:
          items:
            type: string
          type: array
          x-go-name: Vaults
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ProducersConfigPart:
      example:
        producers:
        - init: true
          name: name
          active: true
          failure_message: failure_message
          id: 4
          type: type
        - init: true
          name: name
          active: true
          failure_message: failure_message
          id: 4
          type: type
      properties:
        producers:
          items:
            $ref: '#/components/schemas/Producer'
          type: array
          x-go-name: Producers
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    ActiveDirectoryPayload:
      example:
        auto_rotate: true
        ssh_port: ssh_port
        discover_local_users: true
        auto_rotate_interval_in_days: 1
        active_directory_target_id: 1
        local_users_rotated_secrets_path_template: local_users_rotated_secrets_path_template
        auto_rotate_rotation_hour: 1
        domain_name: domain_name
        enable_rdp_sra: true
        domain_server_targets_path_template: domain_server_targets_path_template
        user_base_dn: user_base_dn
        computer_base_dn: computer_base_dn
        domain_users_rotated_secrets_path_template: domain_users_rotated_secrets_path_template
        local_users_ignore_list:
          key: true
        user_groups:
        - user_groups
        - user_groups
      properties:
        active_directory_target_id:
          format: int64
          type: integer
          x-go-name: ActiveDirectoryTargetID
        auto_rotate:
          type: boolean
          x-go-name: AutoRotate
        auto_rotate_interval_in_days:
          format: int32
          type: integer
          x-go-name: AutoRotateIntervalInDays
        auto_rotate_rotation_hour:
          format: int32
          type: integer
          x-go-name: AutoRotateRotationHour
        computer_base_dn:
          type: string
          x-go-name: ComputerBaseDN
        discover_local_users:
          type: boolean
          x-go-name: DiscoverLocalUsers
        domain_name:
          type: string
          x-go-name: DomainName
        domain_server_targets_path_template:
          type: string
          x-go-name: DomainServerTargetsPathTemplate
        domain_users_rotated_secrets_path_template:
          type: string
          x-go-name: DomainUsersRotatedSecretsPathTemplate
        enable_rdp_sra:
          type: boolean
          x-go-name: EnableRdpSRA
        local_users_ignore_list:
          additionalProperties:
            type: boolean
          type: object
          x-go-name: LocalUsersIgnoreList
        local_users_rotated_secrets_path_template:
          type: string
          x-go-name: LocalUsersRotatedSecretsPathTemplate
        ssh_port:
          type: string
          x-go-name: SshPort
        user_base_dn:
          type: string
          x-go-name: UserBaseDN
        user_groups:
          items:
            type: string
          type: array
          x-go-name: UserGroups
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    MigrationGeneral:
      example:
        prefix: prefix
        name: name
        id: id
        type: type
        protection_key: protection_key
        new_name: new_name
        status: status
      properties:
        id:
          type: string
          x-go-name: Id
        name:
          type: string
          x-go-name: Name
        new_name:
          type: string
          x-go-name: NewName
        prefix:
          type: string
          x-go-name: Prefix
        protection_key:
          type: string
          x-go-name: ProtectionKey
        status:
          type: string
          x-go-name: Status
        type:
          type: string
          x-go-name: Type
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    Rotator:
      example:
        rotation_interval: 9
        name: name
        id: 5
        last_error: last_error
        type: type
      properties:
        id:
          format: int64
          type: integer
          x-go-name: Id
        last_error:
          type: string
          x-go-name: LastError
        name:
          type: string
          x-go-name: Name
        rotation_interval:
          format: int32
          type: integer
          x-go-name: RotationInterval
        type:
          type: string
          x-go-name: Type
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    GCPSecretsMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          gcp_credentials_json: gcp_credentials_json
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/GCPPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    DefaultConfigPart:
      example:
        saml_access_id: saml_access_id
        default_protection_key_id: 9
        oidc_access_id: oidc_access_id
        default_secret_location: default_secret_location
      properties:
        default_protection_key_id:
          format: int64
          type: integer
          x-go-name: ProtectionKeyID
        default_secret_location:
          type: string
          x-go-name: SecretLocation
        oidc_access_id:
          type: string
          x-go-name: OIDCAccessId
        saml_access_id:
          type: string
          x-go-name: SamlAccessId
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    DatadogForwardingConfig:
      example:
        datadog_log_source: datadog_log_source
        datadog_log_service: datadog_log_service
        datadog_log_tags: datadog_log_tags
        datadog_host: datadog_host
        datadog_api_key: datadog_api_key
      properties:
        datadog_api_key:
          type: string
          x-go-name: DatadogApiKey
        datadog_host:
          type: string
          x-go-name: DatadogHost
        datadog_log_service:
          type: string
          x-go-name: DatadogLogService
        datadog_log_source:
          type: string
          x-go-name: DatadogLogSource
        datadog_log_tags:
          type: string
          x-go-name: DatadogLogTags
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    CFConfigPart:
      example:
        customer_fragements:
          key: customer_fragements
      properties:
        customer_fragements:
          additionalProperties:
            type: string
          type: object
          x-go-name: CFragments
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    LogForwardingConfigPart:
      example:
        aws_s3_config:
          aws_access_id: aws_access_id
          aws_region: aws_region
          aws_use_gateway_cloud_identity: true
          aws_access_key: aws_access_key
          bucket_name: bucket_name
          log_folder: log_folder
        logan_url: logan_url
        json_output: true
        azure_analytics_config:
          azure_workspace_key: azure_workspace_key
          azure_workspace_id: azure_workspace_id
        splunk_config:
          splunk_token: splunk_token
          splunk_source: splunk_source
          splunk_index: splunk_index
          splunk_sourcetype: splunk_sourcetype
          splunk_url: splunk_url
        logstash_config:
          logstash_protocol: logstash_protocol
          logstash_dns: logstash_dns
        logan_enable: true
        logz_io_config:
          target_logz_io_protocol: target_logz_io_protocol
          target_logz_io_token: target_logz_io_token
        syslog_config:
          syslog_host: syslog_host
          syslog_target_tag: syslog_target_tag
          syslog_formatter: syslog_formatter
          syslog_network: syslog_network
        target_log_type: target_log_type
        datadog_config:
          datadog_log_source: datadog_log_source
          datadog_log_service: datadog_log_service
          datadog_log_tags: datadog_log_tags
          datadog_host: datadog_host
          datadog_api_key: datadog_api_key
        pull_interval_sec: pull_interval_sec
        elasticsearch_config:
          elasticsearch_index: elasticsearch_index
          elasticsearch_server_type: elasticsearch_server_type
          elasticsearch_user_name: elasticsearch_user_name
          elasticsearch_api_key: elasticsearch_api_key
          elasticsearch_password: elasticsearch_password
          elasticsearch_cloud_id: elasticsearch_cloud_id
          elasticsearch_auth_type: elasticsearch_auth_type
          elasticsearch_nodes: elasticsearch_nodes
      properties:
        aws_s3_config:
          $ref: '#/components/schemas/AwsS3LogForwardingConfig'
        azure_analytics_config:
          $ref: '#/components/schemas/AzureLogAnalyticsForwardingConfig'
        datadog_config:
          $ref: '#/components/schemas/DatadogForwardingConfig'
        elasticsearch_config:
          $ref: '#/components/schemas/ElasticsearchLogForwardingConfig'
        json_output:
          type: boolean
          x-go-name: JsonOutput
        logan_enable:
          type: boolean
          x-go-name: LoganEnable
        logan_url:
          type: string
          x-go-name: LoganURLConfig
        logstash_config:
          $ref: '#/components/schemas/LogstashLogForwardingConfig'
        logz_io_config:
          $ref: '#/components/schemas/LogzIoLogForwardingConfig'
        pull_interval_sec:
          type: string
          x-go-name: PullIntervalSec
        splunk_config:
          $ref: '#/components/schemas/SplunkLogForwardingConfig'
        syslog_config:
          $ref: '#/components/schemas/SyslogLogForwardingConfig'
        target_log_type:
          type: string
          x-go-name: TargetLogType
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    GCPPayload:
      example:
        gcp_credentials_json: gcp_credentials_json
      properties:
        gcp_credentials_json:
          type: string
          x-go-name: Key
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    K8SPayload:
      example:
        client_key:
        - 1
        - 1
        server: server
        password: password
        client_cert:
        - 7
        - 7
        namespace: namespace
        ca:
        - 6
        - 6
        skip_system: true
        token: token
        username: username
      properties:
        ca:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: CA
        client_cert:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: ClientCert
        client_key:
          items:
            format: uint8
            type: integer
          type: array
          x-go-name: ClientKey
        namespace:
          type: string
          x-go-name: Namespace
        password:
          type: string
          x-go-name: Password
        server:
          type: string
          x-go-name: Server
        skip_system:
          type: boolean
          x-go-name: SkipSystem
        token:
          type: string
          x-go-name: Token
        username:
          type: string
          x-go-name: Username
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    KMIPClient:
      example:
        name: name
        certificate_issue_date: 2000-01-23 04:56:07+00:00
        rules:
        - path: path
          start_time: 5
          capabilities:
          - capabilities
          - capabilities
          number_of_allowed_access: 5
          is_limit_access: true
          assigners:
          - unique_id: unique_id
            access_id: access_id
          - unique_id: unique_id
            access_id: access_id
          number_of_access_used: 1
          type: type
          ttl: 2
        - path: path
          start_time: 5
          capabilities:
          - capabilities
          - capabilities
          number_of_allowed_access: 5
          is_limit_access: true
          assigners:
          - unique_id: unique_id
            access_id: access_id
          - unique_id: unique_id
            access_id: access_id
          number_of_access_used: 1
          type: type
          ttl: 2
        id: id
        activate_keys_on_creation: true
        certificate_ttl_in_seconds: 6
      properties:
        activate_keys_on_creation:
          type: boolean
          x-go-name: ActivateKeysOnCreation
        certificate_issue_date:
          format: date-time
          type: string
          x-go-name: CertificateIssueDate
        certificate_ttl_in_seconds:
          format: int64
          type: integer
          x-go-name: CertificateTTLInSeconds
        id:
          type: string
          x-go-name: ID
        name:
          type: string
          x-go-name: Name
        rules:
          items:
            $ref: '#/components/schemas/PathRule'
          type: array
          x-go-name: Rules
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    SyslogLogForwardingConfig:
      example:
        syslog_host: syslog_host
        syslog_target_tag: syslog_target_tag
        syslog_formatter: syslog_formatter
        syslog_network: syslog_network
      properties:
        syslog_formatter:
          type: string
          x-go-name: SyslogFormatter
        syslog_host:
          type: string
          x-go-name: SyslogHost
        syslog_network:
          type: string
          x-go-name: SyslogNetwork
        syslog_target_tag:
          type: string
          x-go-name: SyslogTargetTag
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    JSONError:
      properties:
        error:
          type: string
          x-go-name: Err
      title: JSONError wraps an error with JSON object.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/client
    HashiMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          import_as_json: true
          url: url
          namespaces:
          - namespaces
          - namespaces
          token: token
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/HashiPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    K8SAuth:
      example:
        k8s_ca_cert: k8s_ca_cert
        k8s_host: k8s_host
        k8s_token_reviewer_jwt: k8s_token_reviewer_jwt
        cluster_api_type: cluster_api_type
        k8s_issuer: k8s_issuer
        protection_key: protection_key
        auth_method_access_id: auth_method_access_id
        k8s_pub_keys_pem:
        - k8s_pub_keys_pem
        - k8s_pub_keys_pem
        rancher_api_key: rancher_api_key
        am_token_expiration: 0
        name: name
        auth_method_prv_key_pem: auth_method_prv_key_pem
        disable_iss_validation: true
        id: id
        rancher_cluster_id: rancher_cluster_id
        use_local_ca_jwt: true
      properties:
        am_token_expiration:
          description: AuthMethodTokenExpiration is time in seconds of expiration of the Akeyless Kube Auth Method token
          format: int64
          type: integer
          x-go-name: AuthMethodTokenExpiration
        auth_method_access_id:
          description: AuthMethodAccessId of the Kubernetes auth method
          type: string
          x-go-name: AuthMethodAccessId
        auth_method_prv_key_pem:
          description: 'AuthMethodSigningKey is the private key (in base64 of the PEM format) associated with the public key defined in the

            Kubernetes auth method, that used to sign the internal token for the Akeyless Kubernetes Auth Method'
          type: string
          x-go-name: AuthMethodSigningKey
        cluster_api_type:
          description: ClusterApiType defines types of API access to cluster
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
        disable_iss_validation:
          description: DisableISSValidation is optional parameter to disable ISS validation
          type: boolean
          x-go-name: DisableISSValidation
        id:
          type: string
          x-go-name: Id
        k8s_ca_cert:
          description: K8SCACert is the CA Cert to use to call into the kubernetes API
          type: string
          x-go-name: K8SCACert
        k8s_host:
          description: K8SHost is the url string for the kubernetes API
          type: string
          x-go-name: K8SHost
        k8s_issuer:
          description: K8SIssuer is the claim that specifies who issued the Kubernetes token
          type: string
          x-go-name: K8SIssuer
        k8s_pub_keys_pem:
          description: K8SPublicKeysPEM is the list of public key in PEM format
          items:
            type: string
          type: array
          x-go-name: K8SPublicKeysPEM
        k8s_token_reviewer_jwt:
          description: K8STokenReviewerJWT is the bearer for clusterApiTypeK8s, used during TokenReview API call
          type: string
          x-go-name: K8STokenReviewerJWT
        name:
          type: string
          x-go-name: Name
        protection_key:
          type: string
          x-go-name: ProtectionKey
        rancher_api_key:
          description: RancherApiKey the bear token for clusterApiTypeRancher
          type: string
          x-go-name: RancherApiKey
        rancher_cluster_id:
          description: RancherClusterId cluster id as define in rancher (in case of clusterApiTypeRancher)
          type: string
          x-go-name: RancherClusterId
        use_local_ca_jwt:
          description: 'UseLocalCAJwt is an optional parameter to set defaulting to using

            the local CA cert and service account jwt when running in a Kubernetes

            pod'
          type: boolean
          x-go-name: UseLocalCAJwt
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    RuleAssigner:
      example:
        unique_id: unique_id
        access_id: access_id
      properties:
        access_id:
          type: string
          x-go-name: AccessId
        unique_id:
          type: string
          x-go-name: UniqueId
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    LogzIoLogForwardingConfig:
      example:
        target_logz_io_protocol: target_logz_io_protocol
        target_logz_io_token: target_logz_io_token
      properties:
        target_logz_io_protocol:
          type: string
          x-go-name: TargetLogzIoProtocol
        target_logz_io_token:
          type: string
          x-go-name: TargetLogzIoToken
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    HashiPayload:
      example:
        import_as_json: true
        url: url
        namespaces:
        - namespaces
        - namespaces
        token: token
      properties:
        import_as_json:
          type: boolean
          x-go-name: ImportAsJson
        namespaces:
          items:
            type: string
          type: array
          x-go-name: Namespaces
        token:
          type: string
          x-go-name: Token
        url:
          type: string
          x-go-name: Url
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    PathRule:
      example:
        path: path
        start_time: 5
        capabilities:
        - capabilities
        - capabilities
        number_of_allowed_access: 5
        is_limit_access: true
        assigners:
        - unique_id: unique_id
          access_id: access_id
        - unique_id: unique_id
          access_id: access_id
        number_of_access_used: 1
        type: type
        ttl: 2
      properties:
        assigners:
          items:
            $ref: '#/components/schemas/RuleAssigner'
          type: array
          x-go-name: Assigners
        capabilities:
          description: The approved/denied capabilities in the path
          items:
            type: string
          type: array
          x-go-name: Capabilities
        is_limit_access:
          description: flag that indicate that this rule is allowed to be access RemainingAccess of times.
          type: boolean
          x-go-name: IsLimitAccess
        number_of_access_used:
          format: int64
          type: integer
          x-go-name: NumberOfAccessUsed
        number_of_allowed_access:
          format: int64
          type: integer
          x-go-name: NumberOfAllowedAccess
        path:
          description: The path the rule refers to
          type: string
          x-go-name: Path
        start_time:
          format: int64
          type: integer
          x-go-name: StartTime
        ttl:
          format: int64
          type: integer
          x-go-name: TTL
        type:
          title: PathRuleType defines a kind of every PathRule assigned to a Role.
          type: string
          x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
      title: PathRule is a single rule used in AKEYLESS RBAC.
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/types
    ElasticsearchLogForwardingConfig:
      example:
        elasticsearch_index: elasticsearch_index
        elasticsearch_server_type: elasticsearch_server_type
        elasticsearch_user_name: elasticsearch_user_name
        elasticsearch_api_key: elasticsearch_api_key
        elasticsearch_password: elasticsearch_password
        elasticsearch_cloud_id: elasticsearch_cloud_id
        elasticsearch_auth_type: elasticsearch_auth_type
        elasticsearch_nodes: elasticsearch_nodes
      properties:
        elasticsearch_api_key:
          type: string
          x-go-name: ElasticsearchApiKey
        elasticsearch_auth_type:
          type: string
          x-go-name: ElasticsearchAuthType
        elasticsearch_cloud_id:
          type: string
          x-go-name: ElasticsearchCloudId
        elasticsearch_index:
          type: string
          x-go-name: ElasticsearchIndex
        elasticsearch_nodes:
          type: string
          x-go-name: ElasticsearchNodes
        elasticsearch_password:
          type: string
          x-go-name: ElasticsearchPassword
        elasticsearch_server_type:
          type: string
          x-go-name: ElasticsearchServerType
        elasticsearch_user_name:
          type: string
          x-go-name: ElasticsearchUserName
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    LdapConfigPart:
      example:
        ldap_anonymous_search: true
        ldap_cert: ldap_cert
        ldap_bind_password: ldap_bind_password
        ldap_group_dn: ldap_group_dn
        ldap_group_filter: ldap_group_filter
        ldap_user_dn: ldap_user_dn
        ldap_group_attr: ldap_group_attr
        ldap_access_id: ldap_access_id
        ldap_enable: true
        ldap_private_key: ldap_private_key
        ldap_bind_dn: ldap_bind_dn
        ldap_url: ldap_url
        ldap_token_expiration: ldap_token_expiration
        ldap_user_attr: ldap_user_attr
      properties:
        ldap_access_id:
          type: string
          x-go-name: LdapAccessId
        ldap_anonymous_search:
          type: boolean
          x-go-name: LdapAnonymousSearch
        ldap_bind_dn:
          type: string
          x-go-name: LdapBindDn
        ldap_bind_password:
          type: string
          x-go-name: LdapBindPassword
        ldap_cert:
          type: string
          x-go-name: LdapCertificate
        ldap_enable:
          type: boolean
          x-go-name: LdapEnable
        ldap_group_attr:
          type: string
          x-go-name: LdapGroupAttr
        ldap_group_dn:
          type: string
          x-go-name: LdapGroupDn
        ldap_group_filter:
          type: string
          x-go-name: LdapGroupFilter
        ldap_private_key:
          type: string
          x-go-name: LdapPrivateKey
        ldap_token_expiration:
          type: string
          x-go-name: LdapTokenExpiration
        ldap_url:
          type: string
          x-go-name: LdapUrlAddress
        ldap_user_attr:
          type: string
          x-go-name: LdapUserAttr
        ldap_user_dn:
          type: string
          x-go-name: LdapUserDn
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AzurePayload:
      example:
        name: name
        client: client
        secret: secret
        tenant: tenant
      properties:
        client:
          type: string
          x-go-name: Client
        name:
          type: string
          x-go-name: Name
        secret:
          type: string
          x-go-name: Secret
        tenant:
          type: string
          x-go-name: Tenant
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
    AWSSecretsMigration:
      example:
        general:
          prefix: prefix
          name: name
          id: id
          type: type
          protection_key: protection_key
          new_name: new_name
          status: status
        payload:
          secret: secret
          region: region
          key: key
      properties:
        general:
          $ref: '#/components/schemas/MigrationGeneral'
        payload:
          $ref: '#/components/schemas/AWSPayload'
      type: object
      x-go-package: akeyless.io/akeyless-main-repo/go/src/infra/akeyless-api/gator
